/* (c) Copyright Frontify Ltd., all rights reserved. */

.dropdown {
    position: relative;
    width: 100%;
    font-family: var(--f-font-standard);
    font-size: var(--f-font-14-size);
    line-height: var(--f-font-14-line-height);
}

.trigger-wrapper {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--f-spacing-2x);
    border: var(--f-border);
    border-color: var(--f-black-20);
    border-radius: var(--f-corner-4px);
    padding-right: var(--f-spacing-2x);
    background-color: var(--f-white);
    color: var(--f-black-80);
}

.trigger-wrapper:focus-within {
    border-color: var(--f-black-90);
}

.trigger-wrapper.large {
    padding-right: var(--f-spacing-5x);
}

.trigger-wrapper.inactive {
    color: var(--f-black-80);
}

.trigger-wrapper li:focus,
.trigger-wrapper li:hover {
    box-shadow: none;
    background-color: var(--f-white);
}

.trigger-wrapper button {
    background-color: var(--f-white);
    border: none;
    padding: 0px;
}

.trigger-wrapper button:hover {
    cursor: pointer;
}

.disabled,
button.disabled {
    pointer-events: none;
    background-color: var(--f-black-05);
    border-color: var(--f-black-05);
    color: var(--f-black-40);
}

.trigger {
    flex: 1 1 auto;
    text-align: left;
    border-radius: var(--f-corner-4px);
    overflow: hidden;
}

.placeholder,
.clear {
    color: var(--f-black-80);
}
