/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/focusStyle.module.scss';

@mixin variant($name, $color, $weakColor: $color) {
    &[data-variant='#{$name}']:not([data-disabled='true']) {
        background-color: var(--color-container-#{$color}-default);
        color: var(--color-container-#{$color}-on-#{$color});

        &:is(button) {
            cursor: pointer;

            & {
                @include focusStyle.focus-outline;
            }
        }

        &:is(button):hover {
            background-color: var(--color-#{$color}-hover);
            color: var(--color-#{$color}-on-#{$color});
        }

        &[data-emphasis='weak'] {
            background-color: var(--color-container-#{$weakColor}-default);
            color: var(--color-container-#{$weakColor}-on-#{$weakColor}-container);

            &:is(button):hover {
                background-color: var(--color-container-#{$weakColor}-hover);
                color: var(--color-container-#{$weakColor}-on-#{$weakColor}-container);
            }
        }
    }
}

.root {
    font-size: var(--typography-font-size-small);
    line-height: var(--typography-line-height-tight);
    padding-block: var(--spacing-xx-small);
    padding-inline: var(--spacing-x-small);
    gap: var(--spacing-xx-small);
    border-radius: 9999px;
    position: relative;
    display: inline-flex;
    transition:
        background-color 250ms,
        color 250ms;
    align-items: center;
    white-space: nowrap;
    min-height: 1rem;

    @include variant(default, primary, secondary);
    @include variant(positive, success);
    @include variant(highlight, highlight);
    @include variant(warning, warning);
    @include variant(negative, error);

    &[data-size='small'] {
        padding-block: 2px;
        padding-inline: var(--spacing-x-small);
    }

    &[data-disabled='true'] {
        background-color: var(--color-container-disabled-default);
        color: var(--color-container-disabled-on-disabled);
        cursor: default;

        &:hover {
            background-color: var(--color-container-disabled-default);
            color: var(--color-container-disabled-on-disabled);
        }
    }
}

.dismiss {
    padding: 0;
    margin: 0;
    height: 0.75rem;
    width: 0.75rem;
    border: none 0 transparent;
    background: transparent;
    color: inherit;
    border-radius: 0.25rem;

    & {
        @include focusStyle.focus-outline;
    }
}
