/* (c) Copyright Frontify Ltd., all rights reserved. */

@mixin variant($name, $color) {
    &[data-status=#{$name}] {
        background-color: var($color);
    }
}

.root {
    border-radius: 9999px;
    width: 0.5rem;
    height: 0.5rem;
    margin-block: 0.25rem;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: var(--status-color);

    @include variant(default, --color-primary-default);
    @include variant(positive, --color-success-default);
    @include variant(highlight, -color-highlight-default);
    @include variant(warning, --color-warning-default);
    @include variant(negative, --color-error-default);
}
