/* (c) Copyright Frontify Ltd., all rights reserved. */

@use "sass:list";
@use '../../../helpers/layout.module.scss';

$properties: (
    display,
    gap,
    gap-x,
    gap-y,
    grid-template-columns,
    grid-template-rows,
    grid-auto-flow,
    align-items,
    justify-items
);

$allProperties: list.join($properties, layout.$layoutProperties);

.root {
    @include layout.responsive-properties($allProperties);

    // Default values
    @each $property in $allProperties {
        @include layout.responsive-default-value($property, initial);
    }

    @include layout.responsive-default-value(display, grid);
    @include layout.responsive-default-value(align-items, stretch);
    @include layout.responsive-default-value(justify-items, start);
    @include layout.responsive-default-value(grid-template-columns, minmax(0, 1fr));
    @include layout.responsive-default-value(grid-template-rows, none);
}
