# The Design System will be the default owners for everything in
# the repository except for package.json and src directory.
# Some very complex components will be co-owned with other teams.

# Components
packages/fondue/src/components/RichTextEditor @Frontify/guidelines-one
packages/fondue/src/components/Tree @Frontify/guidelines-navigation-themes
