# The Design System will be the default owners for everything in
# the repository except for package.json and src directory.

# Core
* @Frontify/design-system
package.json
pnpm-lock.yaml
/src

# Components
/src/components/RichTextEditor @Frontify/design-system @Frontify/guidelines-one
