/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/focusStyle.module.scss';

.root {
    display: flex;
    gap: var(--spacing-x-small);

    & button:not(:first-child) {
        margin-inline-start: var(--spacing-x-small);
    }

    &[data-readonly='true'] {
        pointer-events: none;
    }

    &[data-orientation='vertical'] {
        display: grid;
        grid-template-columns: 1rem auto;

        & button {
            margin-inline-start: 0;
        }
    }
}

// Peer class for sibling selector support (replaces Tailwind's tw-peer)
// This is an empty marker class that can be referenced by sibling selectors
.peer {
}

.item {
    all: unset;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: 1px solid var(--color-line-mid);
    cursor: pointer;

    transition: border cubic-bezier(0.4, 0, 0.2, 1) 150ms;

    &[data-readonly='true'] {
        pointer-events: none;
    }

    &:hover:not(:disabled) {
        border: 1px solid var(--color-line-strong);

        [data-state='checked']::after {
            outline: 6px solid var(--color-primary-hover);
        }
    }

    .root[data-emphasis='highlight'] &:hover:not(:disabled) {
        [data-state='checked']::after {
            outline: 6px solid var(--color-highlight-hover);
        }
    }

    &:disabled {
        cursor: not-allowed;
        border: 1px solid var(--color-line-subtle);

        [data-state='checked']::after {
            outline: 6px solid var(--color-container-secondary-default);
        }
    }

    .root[data-emphasis='highlight'] &:disabled {
        [data-state='checked']::after {
            outline: 6px solid var(--color-container-secondary-default);
        }
    }

    & {
        @include focusStyle.focus-outline;
    }
}

.indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        box-sizing: border-box;
        outline: 6px solid var(--color-primary-default);
        transition: outline cubic-bezier(0.4, 0, 0.2, 1) 150ms;
    }

    .root[data-emphasis='highlight'] & {
        &::after {
            outline: 6px solid var(--color-highlight-default);
        }
    }
}
