/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/focusStyle.module.scss';

.item {
    all: unset;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 1px solid var(--line-color-x-strong);
    cursor: pointer;

    transition: border cubic-bezier(0.4, 0, 0.2, 1) 150ms;

    &:hover {
        border: 1px solid var(--line-color-xx-strong);

        [data-state="checked"]::after {
            outline: 6px solid var(--box-neutral-mighty-color);
        }
    }

    &:disabled {
        border: 1px solid var(--line-color-strong);

        [data-state="checked"]::after {
            outline: 6px solid var(--box-neutral-color);
        }
    }

    & {
        @include focusStyle.focus-outline;
    }

}

.indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        box-sizing: border-box;
        outline: 6px solid var(--box-neutral-strong-color);
        transition: outline cubic-bezier(0.4, 0, 0.2, 1) 150ms;
    }
}
