/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/focusStyle.module.scss';
@use '../../../utilities/sizeToken.module.scss';

.root {
    font-family: var(--typography-font-family-primary);
    max-width: 100%;
}

.toggleMonthButtonContainer {
    position: absolute;
    height: var(--rdp-nav-height);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: sizeToken.get(2);
    margin-right: sizeToken.get(2);
}

.toggleMonthButton {
    height: sizeToken.get(8);
    width: sizeToken.get(8);
    &:hover {
        background-color: var(--color-container-secondary-hover);
    }
}

.nextMonthButtonContainer {
    inset-inline-end: 0;
    top: 0;
}

.button {
    font-family: var(--typography-font-family-primary);
    font-weight: var(--typography-font-weight-medium);
    box-sizing: border-box;
    white-space: nowrap;
    border: none;
    color: var(--color-primary-default);
    font-size: var(--typography-font-size-medium);
    line-height: var(--typography-line-height-medium);
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-large);

    & {
        @include focusStyle.focus-outline;
    }
}

.dayButton {
    height: sizeToken.get(8);
    width: sizeToken.get(8);
    transition: none;
    outline: none;
}

.week {
    margin-top: sizeToken.get(1);
    display: flex;
    width: 100%;
}

.day {
    height: sizeToken.get(8);
    width: sizeToken.get(9);
    padding-left: sizeToken.get(0.5);
    padding-right: sizeToken.get(0.5);
    padding-top: 0;
    padding-bottom: 0;
    transition: none;

    &[data-today='true'] {
        .dayButton {
            font-weight: var(--typography-font-weight-bold);
            border: 1px solid var(--color-primary-default);
        }
    }

    &:not([data-selected='true']):not(.hoverRange) {
        &:hover {
            .dayButton {
                background-color: var(--color-container-secondary-hover);
            }
        }
    }

    &:has(> .dayButton:focus-visible) {
        z-index: 1;
    }
}

.weekday {
    font-size: var(--typography-font-size-small);
    line-height: var(--typography-line-height-tight);
    font-weight: var(--typography-font-weight-bold);
    color: var(--color-container-secondary-on-secondary-container);
    height: sizeToken.get(6);
    width: sizeToken.get(9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.weekdays {
    display: flex;
    width: 100%;
}

.selected {
    background-color: var(--color-container-highlight-active);
    color: var(--color-container-highlight-on-highlight-container);
    width: sizeToken.get(8);
    margin-left: sizeToken.get(0.5);
    padding-left: 0;
    margin-right: sizeToken.get(0.5);
    padding-right: 0;
}

@mixin rangeStartDay {
    background-color: var(--color-container-highlight-active);
    color: var(--color-container-highlight-on-highlight-container);

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--border-radius-large);
    border-bottom-left-radius: var(--border-radius-large);
    margin-left: sizeToken.get(0.5);
    padding-left: 0;
    margin-right: 0;
    padding-right: sizeToken.get(0.5);
    width: sizeToken.get(8.5);
}

@mixin rangeEndDay {
    background-color: var(--color-container-highlight-active);
    color: var(--color-container-highlight-on-highlight-container);

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--border-radius-large);
    border-bottom-right-radius: var(--border-radius-large);
    margin-right: sizeToken.get(0.5);
    padding-right: 0;
    margin-left: 0;
    padding-left: sizeToken.get(0.5);
    width: sizeToken.get(8.5);
}

@mixin rangeMiddleDay {
    border-radius: 0;
    background-color: var(--color-container-highlight-hover);
    color: var(--color-container-highlight-on-highlight-container);
    margin-left: 0;
    padding-left: sizeToken.get(0.5);
    margin-right: 0;
    padding-right: sizeToken.get(0.5);
    width: sizeToken.get(9);
}

.day:not(.hoverRange) {
    &.selectedMiddle {
        @include rangeMiddleDay;
    }

    &.selectedStart:not(.selectedEnd) {
        @include rangeStartDay;
    }

    &.selectedEnd:not(.selectedStart) {
        @include rangeEndDay;
    }
}

.day.hoverRange {
    &:not(.hoverStart):not(.hoverEnd) {
        @include rangeMiddleDay;
    }

    &.hoverStart:not(.hoverEnd) {
        @include rangeStartDay;
    }

    &.hoverEnd:not(.hoverStart) {
        @include rangeEndDay;
    }
}
