**/.DS_Store
node_modules
.idea

# Build
src/components/ComponentEnum.ts
src/foundation/Icon/Generated
!.src/foundation/Icon/Generated/.gitkeep
storybook-static
dist

# Testing
cypress/videos
cypress/screenshots
