{
    "debug": true,
    "branches": [
        "main",
        {
            "name": "beta",
            "prerelease": true
        }
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "conventionalcommits",
                "presetConfig": {
                    "name": "conventionalchangelog"
                },
                "releaseRules": [
                    {
                        "type": "chore",
                        "scope": "release-skip",
                        "release": false
                    },
                    {
                        "type": "docs",
                        "scope": "release-skip",
                        "release": false
                    },
                    {
                        "type": "test",
                        "scope": "release-skip",
                        "release": false
                    },
                    {
                        "type": "ci",
                        "scope": "release-skip",
                        "release": false
                    },
                    {
                        "type": "chore",
                        "release": "patch"
                    },
                    {
                        "type": "refactor",
                        "release": "patch"
                    }
                ]
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits",
                "presetConfig": {
                    "name": "conventionalchangelog",
                    "types": [
                        {
                            "type": "*!",
                            "release": "major",
                            "section": "Breaking Changes"
                        },
                        {
                            "type": "chore",
                            "scope": "release-skip",
                            "hidden": true
                        },
                        {
                            "type": "chore",
                            "scope": "release",
                            "hidden": true
                        },
                        {
                            "type": "feat",
                            "section": "Features"
                        },
                        {
                            "type": "fix",
                            "section": "Bug Fixes"
                        },
                        {
                            "type": "chore",
                            "hidden": false,
                            "section": "Other updates"
                        },
                        {
                            "type": "docs",
                            "hidden": false,
                            "section": "Other updates"
                        },
                        {
                            "type": "style",
                            "hidden": false,
                            "section": "Other updates"
                        },
                        {
                            "type": "refactor",
                            "hidden": false,
                            "section": "Refactoring"
                        },
                        {
                            "type": "perf",
                            "hidden": false,
                            "section": "Other updates"
                        },
                        {
                            "type": "test",
                            "hidden": false,
                            "section": "Other updates"
                        }
                    ]
                }
            }
        ],
        "@semantic-release/npm",
        "@semantic-release/github",
        "@semantic-release/exec"
    ]
}
