/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/sizeToken.module.scss';
@use '../../../utilities/transitions.module.scss';
@use '../../../utilities/focusStyle.module.scss';

$radius-without-border: calc(var(--border-radius-medium) - var(--border-width-default));

.root {
    width: 100%;
    position: relative;
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: stretch;

    font-family: var(--typography-font-family-primary);
    font-weight: 400;
    text-align: center;

    height: sizeToken.get(9);
    box-sizing: border-box;

    background-color: var(--color-surface-dim);
    border: var(--border-width-default) solid var(--color-line-mid);
    border-radius: var(--border-radius-medium);

    isolation: isolate;
    direction: ltr;

    [dir='rtl'] & {
        direction: rtl;
    }

    &[data-hug-width='true'] {
        width: fit-content;
    }

    &[aria-disabled='true'] {
        background-color: var(--color-surface-default);
        border-color: var(--color-line-subtle);
    }
}

.item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    user-select: none;
    min-width: 0;

    // Hover on unselected items but not when disabled
    &[aria-checked='false']:enabled:hover:not(:focus-visible) {
        background-color: var(--color-surface-hover);
    }

    // Apply border radius based on the index
    &:first-child {
        border-start-start-radius: $radius-without-border;
        border-end-start-radius: $radius-without-border;
    }
    &:nth-last-child(2) {
        border-start-end-radius: $radius-without-border;
        border-end-end-radius: $radius-without-border;
    }

    // Focus styles for keyboard navigation, custom rounding applied to match the active indicator

    &:focus-visible {
        z-index: 1;
        border-radius: $radius-without-border;
        outline: 4px solid var(--color-focus-default);
        outline-offset: 2px;
    }
}

.itemLabel {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    padding-inline: clamp(0rem, 2vw, sizeToken.get(4));
    gap: sizeToken.get(2);
    color: var(--color-container-secondary-on-secondary-container);
    min-width: 0;

    font-size: var(--typography-font-size-medium);
    line-height: var(--typography-line-height-medium);

    // Prevent shrinking of icons
    & svg {
        flex-shrink: 0;
    }

    .item:disabled & {
        color: var(--color-container-disabled-on-disabled-container);
    }
}

.itemLabelActive {
    transition-timing-function: ease-in;
    z-index: 1;
    display: inline-flex;
    gap: sizeToken.get(2);
    align-items: center;
    justify-content: center;
    opacity: 0;
    color: var(--color-primary-default);

    font-weight: 500;

    & {
        @include transitions.transition-opacity;
    }

    // Color the label based on the disabled state
    .item:disabled & {
        color: var(--color-container-disabled-on-disabled-container);
    }
    .item[aria-checked='true'] & {
        opacity: 1;
        transition-timing-function: ease-out;
    }
}

.itemLabelInactive {
    transition-timing-function: ease-out;

    position: absolute;
    display: inline-flex;
    gap: sizeToken.get(2);
    align-items: center;
    justify-content: center;
    opacity: 1;

    font-weight: 400;

    & {
        @include transitions.transition-opacity;
    }

    // Color the label based on the disabled state
    .item:disabled & {
        color: var(--color-container-disabled-on-disabled);
    }
    .item[aria-checked='true'] & {
        opacity: 0;
        transition-timing-function: ease-in;
    }
}

.activeIndicator {
    display: none;
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    height: 100%;
    pointer-events: none;

    & {
        @include transitions.transition-transform;
    }


    // Outline of active item
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: $radius-without-border;
        background-color: var(--color-surface-default);
        box-shadow: 0 0 0 var(--border-width-default) var(--color-line-strong);
    }

    // Show the active indicator when the state is on
    .item[aria-checked='true'] ~ & {
        display: block;
    }

    // Active indicator style when segmented control/item is disabled
    .item:disabled ~ &::before {
        background-color: var(--color-container-disabled-default);
        box-shadow: 0 0 0 var(--border-width-default) var(--color-line-mid);
    }

    // Used to animate the active indicator horizontally
    @for $index from 2 through 11 {
        &:nth-child(#{$index}) {
            width: calc(100% / calc(#{$index} - 1));
        }
    }
    @for $index from 1 through 10 {
        .item[aria-checked='true']:nth-child(#{$index}) ~ & {
            transform: translateX(calc(100% * calc(#{$index} - 1)));
        }

        // RTL support: reverse the transform direction
        [dir='rtl'] .item[aria-checked='true']:nth-child(#{$index}) ~ & {
            transform: translateX(calc(-100% * calc(#{$index} - 1)));
        }
    }
}

.separator {
    // Make separators slow to disappear and fast to appear, in pair with the other `ease-in` transition
    transition-timing-function: ease-out;
    min-width: 1px;
    width: 1px;
    margin-inline: -0.5px;
    background-color: var(--color-line-mid);

    & {
        @include transitions.transition-opacity;
    }

    .item:disabled & {
        background-color: var(--color-line-subtle);
    }

    // Hide the separator when the state is on to rely on the active item's border
    .item:first-child &,
    .item:focus-visible &,
    .item[aria-checked='true'] &,
    .item[aria-checked='true'] + * & {
        opacity: 0;
        transition-timing-function: ease-in;
    }

    // Remove transition is the control is focused
    .item:focus-visible & {
        transition-duration: 0s;
    }
}
