/* (c) Copyright Frontify Ltd., all rights reserved. */

.container {
    display: flex;
    align-items: center;
}

.container > * {
    margin-right: var(--f-spacing-2x);
}

.container > *:last-child {
    margin-right: 0;
}

.vertical {
    width: 100%;
    flex-direction: column;
}

.vertical > * {
    margin-right: 0;
    margin-bottom: var(--f-spacing-2x);
}

.vertical > *:last-child {
    margin-bottom: 0;
}

.label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.extra {
    line-height: var(--f-font-13-line-height);
    font-family: var(--f-font-standard);
    font-size: var(--f-font-13-size);
    color: var(--f-black-80);
    padding-left: var(--f-spacing-2x);
}

.helper {
    line-height: var(--f-font-13-line-height);
    font-family: var(--f-font-standard);
    font-size: var(--f-font-13-size);
    color: var(--f-black-80);
}

.vertical > .label,
.vertical > .helper,
.vertical > .input {
    width: 100%;
}

.error {
    color: var(--f-red-60);
}

.success {
    color: var(--f-green-60);
}

.disabled {
    color: var(--f-black-40);
}
