/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/sizeToken.module.scss';
@use '../../../utilities/text.module.scss';

.root {
    background-color: var(--box-neutral-mighty-color);
    color: var(--box-neutral-mighty-inverse-color);
    border-radius: var(--radius);
    max-width: sizeToken.get(48);
    overflow: hidden;
    word-wrap: break-word;
    transform-origin: var(--radix-tooltip-content-transform-origin);
    border: 1px solid var(--box-neutral-mighty-color-hover);

    @include text.text-sm;

    &[data-tooltip-spacing='compact'] {
        padding-block: sizeToken.get(1);
        padding-inline: sizeToken.get(2);
    }

    &[data-tooltip-spacing='spacious'] {
        padding-block: sizeToken.get(2);
        padding-inline: sizeToken.get(3);
    }
}

.arrow {
    fill: var(--box-neutral-mighty-color);
    filter: drop-shadow(0 1px 0px var(--box-neutral-mighty-color-hover));
    transform: translateY(-1px);
}
