/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/sizeToken.module.scss';
@use '../../../utilities/text.module.scss';

.root {
    background-color: var(--box-neutral-mighty-color);
    color: var(--box-neutral-mighty-inverse-color);
    border-radius: var(--radius);
    max-width: sizeToken.get(48);
    overflow: hidden;
    word-wrap: break-word;
    transform-origin: var(--radix-tooltip-content-transform-origin);

    @include text.text-sm;

    &[data-tooltip-spacing='compact'] {
        padding: sizeToken.get(1) sizeToken.get(2);
    }

    &[data-tooltip-spacing='spacious'] {
        padding: sizeToken.get(2) sizeToken.get(3);
    }
}

.arrow {
    fill: var(--box-neutral-mighty-color);
}
