/* (c) Copyright Frontify Ltd., all rights reserved. */

.root {
    font-family: var(--typography-font-family-primary);
}

.size-medium {
    font-size: var(--typography-font-size-medium);
    line-height: var(--typography-line-height-tight);
}
.size-large {
    font-size: var(--typography-font-size-large);
    line-height: var(--typography-line-height-wide);
}
.size-x-large {
    font-size: var(--typography-font-size-x-large);
    line-height: var(--typography-line-height-loose);
}
.size-xx-large {
    font-size: var(--typography-font-size-xx-large);
    line-height: var(--typography-line-height-extra-loose);
}

.weight-default { font-weight: var(--typography-font-weight-medium); }
.weight-strong { font-weight: var(--typography-font-weight-bold); }

.color-default { color: var(--color-primary-default); }
.color-weak { color: var(--color-secondary-default); }
.color-disabled { color: var(--color-disabled-default); }
.color-negative { color: var(--color-error-default); }
.color-positive { color: var(--color-success-default); }
.color-warning { color: var(--color-warning-default); }
.color-interactive { color: var(--color-highlight-default); }

