/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/sizeToken.module.scss';
@use '../../../utilities/focusStyle.module.scss';
@use '../../../utilities/transitions.module.scss';

.root {
    position: relative;
    display: flex;
    align-items: stretch;

    font-family: var(--typography-font-family-primary);
    font-weight: 400;
    font-size: var(--typography-font-size-medium);

    line-height: var(--typography-line-height-medium);
    text-align: start;
    height: sizeToken.get(9);
    box-sizing: border-box;

    color: var(--color-primary-default);
    background-color: var(--color-surface-default);
    border-radius: var(--border-radius-medium);
    border: var(--border-width-default) solid var(--color-line-mid);

    & {
        @include focusStyle.focus-outline;
        @include transitions.transition-colors;
    }

    &:has(input[data-show-focus-ring='true']) {
        @include focusStyle.focus-outline-styles;
    }

    &:hover {
        border-color: var(--line-color-x-strong);
    }

    &:hover {
        border-color: var(--color-line-strong);
    }

    &:has([data-show-focus-ring='false']:focus):not(:has(input[readonly])) {
        border-color: var(--color-line-strong);
    }

    &:has(input[readonly]) {
        border-color: transparent;
    }

    &:has(input:disabled) {
        border-color: var(--color-line-subtle);
        background-color: var(--color-container-disabled-default);
    }

    &[data-status='success'] {
        border-color: var(--color-success-default);
    }

    &[data-status='error'] {
        border-color: var(--color-error-default);
    }

    // Remove text-indent and border-radius from input and placeholder when there's a left slot
    &:has(.slot:not([data-name='right'])) {
        .input {
            text-indent: 0px;
            border-start-start-radius: 0px;
            border-end-start-radius: 0px;
        }

        .placeholder {
            text-indent: 0px;
        }
    }

    // Remove text-indent and border-radius from input and placeholder when there's a left slot
    &:has(.slot:not([data-name='right'])) {
        .input {
            text-indent: 0px;
            border-start-start-radius: 0px;
            border-end-start-radius: 0px;
        }

        .placeholder {
            text-indent: 0px;
        }
    }
}

.input {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    text-align: inherit;
    text-indent: sizeToken.get(3);
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: calc(var(--border-radius-medium) - var(--border-width-default));

    &::placeholder {
        color: var(--color-secondary-default);
        opacity: 0;
    }

    &:-moz-focusring {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    // Remove border-radius and padding on the right if there's a right-side slot
    &:has(~ .slot[data-side='right'], ~ .slot:not([data-side='right']) ~ .slot:not([data-side='left'])) {
        padding-inline-end: 0;
        border-start-end-radius: 0;
        border-end-end-radius: 0;
    }

    // Readonly styles
    &[readonly] {
        cursor: text;
        color: var(--color-primary-default);
        text-indent: 0px;
    }

    &[readonly] ~ .slot {
        color: var(--color-primary-default);
    }

    &[readonly] ~ .slot:not([data-name='right']) {
        padding-inline-start: 0px;
    }

    &:disabled {
        cursor: text;
        color: var(--color-disabled-default);
    }

    &:disabled ~ .slot {
        color: var(--color-disabled-default);
    }
}

.slot {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    cursor: text;
    gap: sizeToken.get(1.5);
    padding-inline-start: sizeToken.get(3);
    padding-inline-end: sizeToken.get(1.5);

    // Left slot
    &:not([data-name='right']) {
        order: -1;
        margin-inline: 0px;
    }

    // Right slot
    &[data-name='right'] {
        order: 0;
        margin-inline: 0px;
        padding-inline-end: sizeToken.get(3);
    }

    // 2 slots without any name should be implicitly ordered
    &:not([data-name='right'])~ :not([data-name='left']) {
        order: 0;
        margin-inline: 0px;
    }
}

.iconSuccess {
    display: flex;
    align-items: center;
    height: 100%;
    margin-inline: sizeToken.get(3);
    color: var(--color-success-default);
}

.iconError {
    display: flex;
    align-items: center;
    height: 100%;
    margin-inline: sizeToken.get(3);
    color: var(--color-error-default);
}

// Icon with a right slot shouldn't have a margin on the end side
.iconSuccess:has(~ .slot[data-name='right']),
.iconError:has(~ .slot[data-name='right']) {
    margin-inline-end: 0px;
}

.loadingStatus {
    display: flex;
    position: absolute;
    width: sizeToken.get(6);
    height: sizeToken.get(6);
    top: sizeToken.get(-3);
    inset-inline-end: sizeToken.get(-3);
    pointer-events: none;
    align-items: center;
    justify-content: center;
    background-color: var(--color-surface-default);
    border: var(--border-width-default) solid var(--color-line-mid);
    border-radius: 9999px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.tw-dark .root {
    background-color: transparent;
}

.inputWrapper {
    display: grid;
    width: 100%;
    grid-template-areas: 'stack';
    grid-template-columns: 100%;

    & > * {
        grid-area: stack;
    }

    .placeholder {
        display: flex;
        align-items: center;
        color: var(--text-color-x-weak);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        pointer-events: none;
        opacity: 0;
        text-indent: sizeToken.get(3);
        display: block;
        text-align: inherit;
        font-family: var(--body-family-stack);
        font-weight: 400;
        font-size: var(--body-size-medium);
        line-height: sizeToken.get(9);
    }

    // Show placeholder only when input is empty
    &:has(input:placeholder-shown) .placeholder {
        opacity: 1;
    }
}
