/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/transitions.module.scss';
@use '../../../utilities/sizeToken.module.scss';

.root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    --scrollbar-size: 10px;
}

.viewport {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &[data-scroll-padding='tight'] {
        padding: sizeToken.get(2);
    }

    &[data-scroll-padding='compact'] {
        padding: sizeToken.get(2) sizeToken.get(4);
    }

    &[data-scroll-padding='comfortable'] {
        padding: sizeToken.get(4) sizeToken.get(6);
    }

    &[data-scroll-padding='spacious'] {
        padding: sizeToken.get(6) sizeToken.get(10);
    }

    &[data-show-shadow='true'] {
        box-shadow: inset 0 -15px 8px -10px var(--box-neutral-color);
    }

    &[data-scrollbar-gutter='stable'],
    &[data-scrollbar-type='always'] {
        padding-inline-end: var(--scrollbar-size);
        padding-block-end: var(--scrollbar-size);
    }

    &[data-scrollbar-gutter='stable-horizontal'] {
        padding-block-end: var(--scrollbar-size);
    }

    &[data-scrollbar-gutter='stable-vertical'] {
        padding-inline-end: var(--scrollbar-size);
    }
}

.scrollbar {
    display: flex;

    user-select: none;
    /* disable browser handling of all panning and zooming gestures on touch devices */
    touch-action: none;

    padding: 2px;
    box-sizing: border-box;

    background: var(--box-neutral-color);

    & {
        @include transitions.transition-colors;
    }

    &:hover {
        background: var(--box-neutral-color-hover);
    }

    &[data-orientation='vertical'] {
        width: var(--scrollbar-size);
    }

    &[data-orientation='horizontal'] {
        flex-direction: column;
        height: var(--scrollbar-size);
    }
}

.thumb {
    flex: 1;
    background: var(--box-neutral-strong-color);
    border-radius: var(--scrollbar-size);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        min-width: 44px;
        min-height: 44px;
    }
}

.corner {
    background: var(--box-neutral-color-hover);
}
