/* (c) Copyright Frontify Ltd., all rights reserved. */

.tree {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    position: relative;
    min-height: 40px;
}

.treeitem {
    &[data-folder='true'] {
        font-weight: bold;
    }

    &[data-drop='true'] {
        outline: 2px solid #00aff4;
    }
}

.dragline {
    height: 2px;
    margin-top: -1px;
    background-color: #00aff4;
    pointer-events: none;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -3px;
        height: 4px;
        width: 4px;
        background: #fff;
        border: 2px solid #00aff4;
        border-radius: 99px;
    }
}
