/* (c) Copyright Frontify Ltd., all rights reserved. */

.tree {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.treeitem {
    &[data-folder='true'] {
        font-weight: bold;
    }
}
