/* (c) Copyright Frontify Ltd., all rights reserved. */
@import '../../../../utilities/sizeToken.module.scss';
@import '../../../../utilities/focusStyle.module.scss';

.input {
    display: block;
}

.root {
    display: none;

    [data-active-picker='brand'] & {
        display: flex;
        flex-direction: column;
        gap: sizeToken(4);
    }
}

.header {
    display: flex;
    gap: sizeToken(2);

    .search {
        flex-grow: 1;
    }
}

.paletteList {
    display: flex;
    flex-direction: column;
    gap: sizeToken(4);
}

.palettePreview {
    display: flex;
    flex-direction: column;
    gap: sizeToken(2);
}

.colorList {
    display: flex;
    flex-direction: row;
    gap: sizeToken(4);

    [data-layout='list'] & {
        display: flex;
        flex-direction: column;
        gap: sizeToken(4);
    }
}
.colorContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: sizeToken(2);
}

.colorPreview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: sizeToken(6);
    height: sizeToken(6);
    border-radius: sizeToken(1);
    box-shadow: var(--shadow-color-box-neutral-pressed);
    color: var(--text-color);
}

.colorName {
    text-align: left;
    width: sizeToken(20);
    height: sizeToken(6);
}
