/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/sizeToken.module.scss';
@use '../../../utilities/focusStyle.module.scss';
@use '../../../utilities/transitions.module.scss';
@use '../../../utilities/mediaQuery.module.scss';
@use '../../../utilities/shadow.module.scss';

.root {
    position: relative;
    display: flex;
    align-items: stretch;
    text-align: start;

    font-family: var(--typography-font-family-primary);
    font-weight: 400;
    font-size: var(--typography-font-size-medium);

    min-width: 0;
    width: 100%;
    line-height: var(--typography-line-height-medium);
    height: sizeToken.get(9);
    box-sizing: border-box;

    color: var(--color-primary-default);
    background-color: var(--color-surface-default);

    border-radius: var(--border-radius-medium);
    border: var(--border-width-default) solid var(--color-line-mid);
    cursor: pointer;

    & {
        @include focusStyle.focus-outline;
    }

    &:hover {
        border-color: var(--color-line-strong);
    }

    &[data-show-focus-ring='false']:focus,
    &:has(input[data-show-focus-ring='false']:focus) {
        border-color: var(--color-line-strong);
    }

    &:has(input:disabled),
    &[data-disabled='true'] {
        border-color: var(--color-line-subtle);
        background-color: var(--color-container-disabled-default);
        color: var(--color-disabled-default);
        cursor: default;
    }

    &[data-status='success'] {
        border-color: var(--color-success-default);
    }

    &[data-status='error'] {
        border-color: var(--color-error-default);
    }

    &[data-empty='true'] {
        color: var(--color-secondary-default);
    }

    &:has(input:placeholder-shown) {
        color: var(--color-secondary-default);
    }
}

.selectedValue {
    width: 100%;
    background-color: transparent;
    padding-inline-start: sizeToken.get(3);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-block: auto;
    user-select: none;
}

.selectedValue:has(~ [data-name='left']) {
    text-indent: sizeToken.get(3);
    padding-inline-start: 0;
}

.input {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    text-align: inherit;
    text-indent: sizeToken.get(3);
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: calc(var(--border-radius-medium) - var(--border-width-default));
    white-space: nowrap;
    line-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input,
.selectedValue {
    &::placeholder {
        color: var(--color-secondary-default);
    }

    // Remove border-radius and text-indent/padding on the left if there's a left-side slot
    &:has(~ div[data-name='left']) {
        text-indent: 0px;
        border-start-start-radius: 0px;
        border-end-start-radius: 0px;
    }

    // Remove border-radius and padding on the right if there's a right-side slot
    &:has(~ .slot[data-side='right'], ~ .slot:not([data-side='right'])) {
        padding-inline-end: 0;
        border-start-end-radius: 0;
        border-end-end-radius: 0;
    }

    &:disabled {
        color: var(--color-disabled-default);
    }
    &:disabled ~ .slot {
        color: var(--color-disabled-default);
    }
}

.slot {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    cursor: text;
    gap: sizeToken.get(1.5);
    padding-inline-start: sizeToken.get(3);
    padding-inline-end: sizeToken.get(2);
    color: var(--color-primary-default);

    // Left slot
    &[data-name='left'] {
        order: -1;
        margin-inline: 0px;
    }

    // Right slot
    &[data-name='right'] {
        order: 0;
        margin-inline: 0px;
        padding-inline-end: sizeToken.get(3);

        &:has(~ div[data-name='clear']) {
            padding-inline-end: 0;
        }
    }

    // Label slot
    &[data-name='label'] {
        display: flex;
        align-items: center;
        cursor: text;
        height: 100%;
        padding-inline-start: sizeToken.get(3);
        padding-inline-end: sizeToken.get(2);

        &:has(~ div[data-name='left']) {
            text-indent: 0px;
            padding-inline-start: 0;
        }
    }
}

.clear {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 sizeToken.get(3);

    button:not(:hover) > .clearIcon {
        color: var(--color-secondary-default);
    }
}

.icons {
    display: flex;
    gap: sizeToken.get(1);
    padding: 0 sizeToken.get(1.5);
}

.caret {
    display: flex;
    height: 100%;
    width: sizeToken.get(4);
    align-items: center;
    justify-content: center;
    margin: 0 sizeToken.get(1);
    color: var(--color-secondary-default);

    & {
        @include transitions.transition-transform;
    }

    &:hover {
        color: var(--color-secondary-hover);
    }

    div[role='combobox'][aria-expanded='true'] &,
    button[aria-expanded='true'] & {
        transform: rotateX(180deg);
    }
}

.iconSuccess {
    height: 100%;
    margin: 0 sizeToken.get(1);
    color: var(--color-success-default);
}

.iconError {
    height: 100%;
    margin: 0 sizeToken.get(1);
    color: var(--color-error-default);
}

.menu {
    display: none;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-surface-default);
    border: var(--border-width-default) solid var(--color-line-subtle);
    max-width: calc(100dvw - sizeToken.get(8));
    min-width: var(--radix-popover-trigger-width);
    overflow: auto;
    max-height: var(--radix-popover-content-available-height);
    color: var(--color-primary-default);

    &:has(li[role='option']) {
        display: block;
    }

    & {
        @include shadow.shadow-lg;

        @include mediaQuery.sm {
            max-width: 500px;
        }
    }
}

.portal {
    z-index: 30;

    &[data-side='bottom'] {
        margin-block-start: sizeToken.get(2);
    }

    &[data-side='top'] {
        margin-block-end: sizeToken.get(2);
    }

    &[data-side='left'] {
        margin-inline-end: sizeToken.get(2);
    }

    &[data-side='right'] {
        margin-inline-start: sizeToken.get(2);
    }
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: sizeToken.get(2);
    padding: sizeToken.get(2) sizeToken.get(3);
    margin-block: sizeToken.get(0.5);
    margin-inline: sizeToken.get(2);
    border-radius: sizeToken.get(1);
    cursor: pointer;
    text-align: start;
    font-size: var(--typography-font-size-medium);
    line-height: var(--typography-line-height-medium);
    color: var(--color-primary-default);
    outline-style: none;

    &:first-child {
        margin-block-start: sizeToken.get(2);
    }

    &:last-child {
        margin-block-end: sizeToken.get(2);
    }

    &[data-highlighted='true'] {
        background-color: var(--color-surface-hover);
    }

    &[data-highlighted]:active {
        background-color: var(--color-surface-active);
        transition: none;
    }

    &[data-selected='true'] {
        .checkmarkIcon {
            display: block;
        }
    }

    .menu[data-has-interacted='false'] &[data-selected='true']:not(:hover),
    &[data-selected='true'][data-highlighted='false'] {
        background-color: var(--color-surface-active);
    }

    .itemValue {
        width: 100%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.checkmarkIcon {
    width: sizeToken.get(4);
    height: sizeToken.get(4);
    display: none;
}

.group {
    .item + & {
        border-top: var(--border-width-default) solid var(--color-line-mid);
        margin-bottom: 0.5rem;
    }

    &:has(+ .item) {
        margin-top: 0.5rem;
    }

    &:has(+ .item, + .group) {
        border-bottom: var(--border-width-default) solid var(--color-line-mid);
    }
}

.groupHeading {
    text-transform: uppercase;
    line-height: sizeToken.get(4);
    color: var(--color-secondary-default);
    font-size: var(--typography-font-size-x-small);
    font-weight: var(--typography-font-weight-medium);
    padding-block: sizeToken.get(2) 0;
    padding-inline: sizeToken.get(5);
    margin-block-start: sizeToken.get(1);
    letter-spacing: 0.8px;
}

.badgesContainer {
    display: flex;
    align-items: center;
    gap: sizeToken.get(1);
    overflow: hidden;
    min-width: 0;
    flex: 1;

    .root > & {
        padding-inline-start: sizeToken.get(2);
    }
}

.badgeWrapper {
    flex-shrink: 0;

    &[data-visible='false'] {
        visibility: hidden;
        position: absolute;
        pointer-events: none;
    }
}

.multiSelectInput {
    flex: 1 1 0;
    min-width: sizeToken.get(6);
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;

    &::placeholder {
        color: var(--color-secondary-default);
    }

    &:disabled {
        color: var(--color-disabled-default);
    }
}
