# routing internally.
[[redirects]]
  from = "/*"
  to = "/storybook-static/index.html"
  status = 200

[[headers]]
  # Define which paths this specific [[headers]] block will cover.
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"
