/* (c) Copyright Frontify Ltd., all rights reserved. */

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--f-corner-4px);
    cursor: pointer;
    font-family: var(--f-font-standard);
    transition: color var(--f-transition-linear), background-color var(--f-transition-linear);
}

/**
 * Sizes
 */
.sizeSmall {
    padding: var(--f-spacing-1x) var(--f-spacing-3x);
}

.sizeMedium {
    padding: var(--f-spacing-2x) var(--f-spacing-4x);
}

.sizeLarge {
    padding: var(--f-spacing-3x) var(--f-spacing-5x);
}

/**
 * Focus with keyboard
 */
.button:not(.disabled):focus-visible {
    outline: 2px solid var(--f-violet-60);
}

/**
 * Basic color
 */
.themeLight.stylePrimary {
    background-color: var(--f-black-90);
    color: var(--f-white);
}

.themeLight.styleSecondary {
    background-color: var(--f-black-10);
    color: var(--f-black-100);
}

.themeLight.styleDanger {
    background-color: var(--f-red-60);
    color: var(--f-white);
}

.themeDark.stylePrimary {
    background-color: var(--f-white);
    color: var(--f-black-100);
}

.themeDark.styleSecondary {
    background-color: var(--f-black-80);
    color: var(--f-white);
}

.themeDark.styleDanger {
    background-color: var(--f-red-60);
    color: var(--f-white);
}

/**
 * Hover
 */
.themeLight.stylePrimary:hover {
    background-color: var(--f-black-100);
}

.themeLight.styleSecondary:hover {
    background-color: var(--f-black-20);
}

.themeLight.styleDanger:hover {
    background-color: var(--f-red-70);
}

.themeDark.stylePrimary:hover {
    background-color: var(--f-black-10);
}

.themeDark.styleSecondary:hover {
    background-color: var(--f-black-95);
}

.themeDark.styleDanger:hover {
    background-color: var(--f-red-70);
}

/**
 * Clicked
 */
.themeLight.stylePrimary:active {
    background-color: var(--f-black-superdark);
}

.themeLight.styleSecondary:active {
    background-color: var(--f-black-30);
}

.themeLight.styleDanger:active {
    background-color: var(--f-red-90);
}

.themeDark.stylePrimary:active {
    background-color: var(--f-black-20);
}

.themeDark.styleSecondary:active {
    background-color: var(--f-black-superdark);
}

.themeDark.styleDanger:active {
    background-color: var(--f-red-90);
}

/**
 * Disabled
 */
.disabled {
    cursor: not-allowed;
}

.themeLight.disabled {
    background-color: var(--f-black-10);
    color: var(--f-black-50);
}

.themeDark.disabled {
    background-color: var(--f-black-95);
    color: var(--f-black-70);
}
