@media (min-width: 40rem) {
    .toolbar {
        display: flex;
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.prefixed {
    -webkit-user-select: none;
    user-select: none;
}
