.accordionItem {
    &:first-child {
        border-top: var(--line-width) solid var(--line-color);
    }

    border-bottom: var(--line-width) solid var(--line-color);
}

.accordionTrigger {
    width: 100%;
    text-align: left;
    padding: var(--space-l) var(--space-xl);
}

.accordionContent {
    width: 100%;
    text-align: left;
    padding: 0 var(--space-xl) var(--space-l);
}
