/* (c) Copyright Frontify Ltd., all rights reserved. */

.root {
    &[data-accordion-padding="none"] {
        --accordion-vertical-padding: 0px;
        --accordion-horizontal-padding: 0px;
    }

    &[data-accordion-padding='small'] {
        --accordion-vertical-padding: var(--spacing-small);
        --accordion-horizontal-padding: var(--spacing-medium);
    }

    &[data-accordion-padding='medium'] {
        --accordion-vertical-padding: var(--spacing-medium);
        --accordion-horizontal-padding: var(--spacing-large);
    }

    &[data-accordion-padding='large'] {
        --accordion-vertical-padding: var(--spacing-large);
        --accordion-horizontal-padding: var(--spacing-x-large);
    }

    &[data-border="true"] {
        border-bottom: var(--border-width-default) solid var(--color-line-subtle);
        border-top: var(--border-width-default) solid var(--color-line-subtle);
    }
}

.accordionItem {
    color: var(--color-secondary-default);

    &:not(:last-child) {
        border-bottom: var(--border-width-default) solid var(--color-line-subtle);
    }

    &:has(.accordionTrigger:focus-visible):not([data-show-focus-ring='false']) {
        outline: 4px solid var(--color-focus-default);
        border-radius: var(--border-radius-medium);
    }
}

.accordionHeader {
    position: relative;
    min-width: fit-content;
    display: grid;
    grid-template-columns: auto 1rem 1fr max-content;
    grid-template-areas: "content caret slot actions";
    gap: 0.75rem;

    & > .accordionSlot {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        grid-area: slot;
        grid-row: 1;

        &[data-name='action'] {
            grid-area: actions;
            grid-row: 1;
        }
    }
}

.accordionTrigger {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / 5;
    grid-row: 1;
    align-items: center;
    outline: 0;
    color: var(--color-secondary-default);
    text-align: start;
    width: 100%;
    padding: var(--accordion-vertical-padding) var(--accordion-horizontal-padding);

    &[data-state='open'],
    &:hover {
        color: var(--color-primary-default);
    }

    &[data-state='open'] {
        & > .accordionCaret {
            transform: rotate(180deg);
        }
    }

    & .accordionCaret {
        grid-area: caret;
        grid-row: 1;
        min-width: 1rem;
    }

    & .accordionTriggerContent {
        grid-area: content;
        grid-row: 1;
    }
}

.accordionContent {
    width: 100%;
    text-align: start;
    overflow: hidden;

    &[data-item-padding='none'] {
        --accordion-vertical-padding: 0px;
        --accordion-horizontal-padding: 0px;
    }

    &[data-item-padding='small'] {
        --accordion-vertical-padding: var(--spacing-small);
        --accordion-horizontal-padding: var(--spacing-medium);
    }

    &[data-item-padding='medium'] {
        --accordion-vertical-padding: var(--spacing-medium);
        --accordion-horizontal-padding: var(--spacing-large);
    }

    &[data-item-padding='large'] {
        --accordion-vertical-padding: var(--spacing-large);
        --accordion-horizontal-padding: var(--spacing-x-large);
    }

    & > div {
        padding: 0 var(--accordion-horizontal-padding) var(--accordion-vertical-padding);
    }

    &[data-item-divider='true'] > div {
        border-top: var(--border-width-default) solid var(--color-line-subtle);
        padding-top: var(--accordion-vertical-padding);
    }
}

.accordionContentText {
    color: var(--color-primary-default);
}

.accordionCaret {
    transition: transform 500ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordionContent[data-state='open'] {
    animation: slideDown 500ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordionContent[data-state='closed'] {
    animation: slideUp 500ms cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes slideDown {
    from {
        height: 0;
    }

    to {
        height: var(--radix-accordion-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }

    to {
        height: 0;
    }
}
