/* (c) Copyright Frontify Ltd., all rights reserved. */

.root {
    font-family: var(--typography-font-family-primary);
    max-width: 100%;
}

.weight-default { font-weight: var(--typography-font-weight-regular); }
.weight-strong { font-weight: var(--typography-font-weight-medium); }
.weight-x-strong { font-weight: var(--typography-font-weight-bold); }

.size-x-small {
    font-size: var(--typography-font-size-x-small);
    line-height: var(--typography-line-height-tight);
}
.size-small {
    font-size: var(--typography-font-size-small);
    line-height: var(--typography-line-height-tight);
}
.size-medium  {
    font-size: var(--typography-font-size-medium);
    line-height: var(--typography-line-height-medium);
}
.size-large {
    font-size: var(--typography-font-size-large);
    line-height: var(--typography-line-height-wide);
}


.color-default { color: var(--color-primary-default); }
.color-weak { color: var(--color-secondary-default); }
.color-disabled { color: var(--color-disabled-default); }
.color-negative { color: var(--color-error-default); }
.color-positive { color: var(--color-success-default); }
.color-warning { color: var(--color-warning-default); }
.color-interactive { color: var(--color-highlight-default); }

.color-box-neutral { color: var(--color-container-secondary-on-secondary-container); }
.color-box-selected { color: var(--color-container-highlight-on-highlight-container); }
.color-box-disabled { color: var(--color-container-disabled-on-disabled-container); }
.color-box-positive { color: var(--color-container-success-on-success-container); }
.color-box-negative { color: var(--color-container-error-on-error-container); }
.color-box-warning { color: var(--color-container-warning-on-warning-container); }

