.arcade-toolbar[data-popper-placement^="top"] > .arcade-richtexteditor-arrow {
    bottom: -4px;
}

.arcade-toolbar[data-popper-placement^="bottom"] > .arcade-richtexteditor-arrow {
    top: -4px;
}

.arcade-toolbar[data-popper-placement^="left"] > .arcade-richtexteditor-arrow {
    right: -4px;
}

.arcade-toolbar[data-popper-placement^="right"] > .arcade-richtexteditor-arrow {
    left: -4px;
}
