/* (c) Copyright Frontify Ltd., all rights reserved. */

@import '../../../utilities/sizeToken.module.scss';
@import '../../../utilities/transitions.module.scss';
@import '../../../utilities/focusStyle.module.scss';

$radius-without-border: calc(var(--radius) - var(--line-width));

.root {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.triggerList {
    position: relative;
    flex-shrink: 0;
    display: flex;
    gap: sizeToken(1);
    height: sizeToken(12);
    padding-left: sizeToken(3);
    padding-right: sizeToken(3);
    overflow: hidden;
    flex: 1;
    min-width: 0;
    &[data-size='large'] {
        height: sizeToken(14);
    }
}

.triggerListWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: sizeToken(2);
    border-bottom: 1px solid var(--line-color);
}


.trigger {
    padding-left: sizeToken(2);
    padding-right: sizeToken(2);
    color: var(--text-color-weak);
    font-size: var(--body-size-large);
    white-space: nowrap;

    &:hover,
    &:focus {
        color: var(--text-color);
    }

    &:disabled {
        color: var(--text-color-disabled);
    }

    &[data-state='active'] {
        color: var(--text-color);
        font-weight: 500;
    }
    
}

.content {
    padding: sizeToken(3);
}
