/* (c) Copyright Frontify Ltd., all rights reserved. */

.label {
    font-size: var(--typography-font-size-x-small);
    font-weight: var(--typography-font-weight-bold);
    font-family: var(--typography-font-family-primary);
}
