/* (c) Copyright Frontify Ltd., all rights reserved. */

@use 'sass:list';
@use '../../../helpers/layout.module.scss';

$properties: (display);
$allProperties: list.join($properties, layout.$layoutProperties);

@include layout.register-properties($allProperties);

.root {
    box-sizing: border-box;

    @include layout.responsive-properties($allProperties);

    --display: block;
}
