/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/sizeToken.module.scss';
@use '../../../utilities/focusStyle.module.scss';
@use '../../../utilities/transitions.module.scss';

.root {
    position: relative;
    display: flex;

    align-items: center;

    user-select: none;
    touch-action: none;

    width: 100%;
    box-sizing: border-box;

    &[data-disabled] {
        pointer-events: none;
    }

    //add a border radius to the thumbs parent so it doesn't capture clicks outside
    span:has(> .thumb) {
        border-radius: 100%;
    }
}

.track {
    background-color: var(--color-container-secondary-default);
    position: relative;
    flex-grow: 1;
    border-radius: 4px;
    height: sizeToken.get(1);

    .range {
        position: absolute;
        background-color: var(--color-primary-default);
        border-radius: 4px;
        height: 100%;

        &[data-disabled] {
            background-color: var(--color-disabled-default);
        }
    }
}

.thumb {
    display: block;

    width: sizeToken.get(5);
    height: sizeToken.get(5);

    background-color: var(--color-surface-default);
    border: 1px solid var(--color-line-mid);
    border-radius: 100%;
    outline: 0 solid var(--color-shadow-default);

    cursor: pointer;
    box-sizing: border-box;

    & {
        @include transitions.transition-colors;
        @include transitions.transition(outline);
    }

    &:hover {
        box-shadow: var(--shadow-default);

        &:active,
        //firefox support requires this additional selector
        &[data-show-focus-ring='false']:focus-visible {
            outline-width: sizeToken.get(2);
        }
    }

    &[data-show-focus-ring='false']:not(:active) {
        outline-width: sizeToken.get(1);
    }

    &:not([data-show-focus-ring='false']) {
        @include transitions.transition-box-shadow;
        @include focusStyle.focus-outline;
    }

    &[data-disabled] {
        background-color: var(--color-disabled-default);
        border-color: var(--color-line-mid);
    }
}
