@import '../../../utilities/sizeToken.module.scss';
@import '../../../utilities/focusStyle.module.scss';
@import '../../../utilities/transitions.module.scss';
.slider {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 100%;

    &[data-disabled] {
        pointer-events: none;
        opacity: 0.6;
    }

    .track {
        background-color: var(--box-neutral-color);
        position: relative;
        flex-grow: 1;
        border-radius: 9999px;
        height: sizeToken(1);

        .range {
            position: absolute;
            background-color: var(--box-neutral-strong-color);
            border-radius: 9999px;
            height: 100%;
        }
    }
    .thumb {
        @include focus-outline;
        @include transition-colors;

        display: block;
        width: sizeToken(5);
        height: sizeToken(5);
        background-color: var(--base-color);
        border-radius: 100%;
        border: 1px solid var(--line-color-strong);
        cursor: pointer;
        &:active {
            outline-offset: 0;
            outline-width: sizeToken(2);
            outline-color: rgba(0, 0, 0, 0.2);
        }
    }
}
