/* (c) Copyright Frontify Ltd., all rights reserved. */
@import url('react-datepicker/dist/react-datepicker.min.css');

.react-datepicker-popper {
    /** 
     *  The Modal default z-index is 50 (vide Modal.tsx file)
     *  so it's better to place the DatePicker in a smaller z-index 
     */
    z-index: 49;
}

.react-datepicker-wrap {
    font-family: var(--body-family);
    border-radius: var(--radius);
    border: 1px solid var(--box-disabled-strong-color);
}

.react-datepicker-wrap .react-datepicker__triangle {
    transform: none !important;
    left: var(--space-xxl) !important;
    z-index: 1;
}
.react-datepicker-wrap .react-datepicker__month-container {
    padding: var(--space-m);
}

.react-datepicker-wrap .react-datepicker__month {
    margin: var(--space-m) 0 0;
}

.react-datepicker-wrap .react-datepicker__triangle::after {
    border-bottom-color: var(--base-color) !important;
}

.react-datepicker-wrap .react-datepicker__header {
    font-size: var(--body-size-medium);
    border: none;
    background: none;
    padding: 0 0 8px 0;
}

.react-datepicker-wrap .react-datepicker__day-names {
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
    padding: var(--space-xxs) 0;
}

.react-datepicker__input-container .react-datepicker__close-icon::after {
    display: none;
}

.react-datepicker-wrap .react-datepicker__day {
    color: var(--box-disabled-color-inverse);
    font-size: 13px;
}

.react-datepicker-wrap .react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    margin: var(--line-width) !important;
    padding: var(--space-xxs);
    width: 2.4rem;
}

.react-datepicker-wrap .future-date,
.react-datepicker-wrap .react-datepicker__day.react-datepicker__day--keyboard-selected {
    background: var(--base-color-alt);
    color: var(--box-neutral-inverse-color);
}

.react-datepicker-wrap .react-datepicker__day--today {
    font-weight: normal;
}

.react-datepicker-wrap .react-datepicker__day--keyboard-selected,
.react-datepicker .react-datepicker__day--selected,
.react-datepicker .react-datepicker__day--selected:hover,
.react-datepicker .react-datepicker__day:focus-visible {
    background-color: var(--box-selected-strong-color);
    border-radius: 0;
    border: none;
    outline-color: var(--base-color);
    color: var(--base-color);
}

.react-datepicker-wrap .react-datepicker__day:hover {
    border-radius: 0;
    background-color: var(--box-neutral-color-hover);
    opacity: 0.8;
}

.react-datepicker-wrap .react-datepicker__day--outside-month {
    background: none;
}

.react-datepicker-wrap .past-date.react-datepicker__day.react-datepicker__day--keyboard-selected {
    color: var(--box-disabled-color-inverse);
    background: none;
}
