/* (c) Copyright Frontify Ltd., all rights reserved. */

.wrapper {
    display: flex;
}

.checkbox {
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    border-radius: var(--f-corner-4px);
    cursor: pointer;
    transition: color var(--f-transition-linear), background-color var(--f-transition-linear);
}

.hidden {
    display: none;
}

.withLabel {
    margin-right: var(--f-spacing-2x);
}

/**
 * Unselected
 */
.themeLight.stylePrimary {
    border: 1px solid var(--f-black-90);
    background-color: var(--f-white);
}

.themeLight.styleSecondary {
    border: 1px solid var(--f-violet-60);
    background-color: var(--f-white);
}

.themeDark.stylePrimary {
    border: 1px solid var(--f-white);
}

.themeDark.styleSecondary {
    border: 1px solid var(--f-violet-50);
}

/**
 * Selected/Indeterminate
 */
.themeLight.stylePrimary.selected,
.themeLight.stylePrimary.indeterminate {
    background-color: var(--f-black-90);
    color: var(--f-white);
}

.themeLight.styleSecondary.selected,
.themeLight.styleSecondary.indeterminate {
    background-color: var(--f-violet-60);
    color: var(--f-white);
}

.themeDark.stylePrimary.selected,
.themeDark.stylePrimary.indeterminate {
    background-color: var(--f-white);
    color: var(--f-black-100);
}

.themeDark.styleSecondary.selected,
.themeDark.styleSecondary.indeterminate {
    background-color: var(--f-violet-50);
    color: var(--f-white);
}

/**
 * Hover
 */
.themeLight.stylePrimary:hover {
    background-color: var(--f-black-05);
}

.themeLight.styleSecondary:hover {
    background-color: var(--f-black-05);
}

.themeDark.stylePrimary:hover {
    background-color: var(--f-black-90);
}

.themeDark.styleSecondary:hover {
    background-color: var(--f-black-90);
}

.themeLight.stylePrimary.selected:hover,
.themeLight.stylePrimary.indeterminate:hover {
    background-color: var(--f-black-100);
}

.themeLight.styleSecondary.selected:hover,
.themeLight.styleSecondary.indeterminate:hover {
    background-color: var(--f-violet-70);
}

.themeDark.stylePrimary.selected:hover,
.themeDark.stylePrimary.indeterminate:hover {
    background-color: var(--f-black-20);
}

.themeDark.styleSecondary.selected:hover,
.themeDark.styleSecondary.indeterminate:hover {
    background-color: var(--f-violet-60);
}

/**
 * Disabled
 */
.disabled {
    cursor: not-allowed;
}

.themeLight.disabled {
    background-color: var(--f-black-40);
    color: var(--f-black-20);
}

.themeDark.disabled {
    background-color: var(--f-black-60);
    color: var(--f-black-80);
}

/**
 * Focus with keyboard
 */
.checkbox:not(.disabled):focus-visible {
    outline: 2px solid var(--f-violet-60);
}
