/* (c) Copyright Frontify Ltd., all rights reserved. */

/**
 * Menu items
 */
.item {
    position: relative;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: background-color var(--f-transition-ease-in-out);
    border-radius: var(--f-corner-4px);
    gap: var(--f-spacing-2x);
    font-family: var(--f-font-standard);
    font-size: var(--f-font-14-size);
}

.item.small {
    padding: var(--f-spacing-2x) var(--f-spacing-5x);
}

.item.large {
    padding: var(--f-spacing-3x) var(--f-spacing-5x);
    min-height: 62px;
}

.item.has-subtitle {
    padding: var(--f-spacing-3x) var(--f-spacing-4x);
}

.item:hover {
    background-color: var(--f-black-00);
    font-weight: 500;
}

.item:hover .subtitle {
    color: var(--f-black-100);
}

.item:focus {
    background-color: var(--f-white);
    box-shadow: var(--f-shadow-element-focused-background-white);
}

.item svg {
    flex-shrink: 0;
}

.content {
    flex: 1;
    padding-right: var(--f-spacing-1x);
}

.subtitle {
    font-size: var(--f-font-12-size);
    color: var(--f-black-80);
    transition: color var(--f-transition-ease-in-out);
    word-break: break-word;
    white-space: normal;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
 * Disabled
 */
.disabled {
    pointer-events: none;
    color: var(--f-black-40);
    background-color: var(--f-black-00);
}

/**
 * Warning
 */
.item.warning,
.item.warning .subtitle {
    color: var(--f-red-70);
}

.item.warning:hover .subtitle {
    color: var(--f-red-70);
}

/**
 * Warning + Disabled
 */
.item.warning.disabled,
.item.warning.disabled .subtitle {
    color: var(--f-red-40);
}

.item.warning.disabled:hover .subtitle {
    color: var(--f-red-40);
}
