/* (c) Copyright Frontify Ltd., all rights reserved. */

.container {
    display: inline-flex;
    align-items: center;
    font-size: var(--f-font-13-size);
    line-height: var(--f-font-13-line-height);
}

.container > * + * {
    padding-left: var(--f-spacing-1x);
}

.asterisk {
    height: var(--f-font-16-size); /* Center asterisk vertically */
    color: var(--f-red-60);
    font-size: var(--f-font-16-size);
    line-height: var(--f-font-16-line-height);
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.tooltip {
    z-index: 100;
    padding: var(--f-spacing-4x);
    border: var(--f-border);
    background-color: var(--f-white);
    border-radius: var(--f-corner-4px);
    box-shadow: var(--f-shadow-mid);
    visibility: hidden;
}

.icon:hover + .tooltip {
    visibility: visible;
}

.themeLight {
    color: var(--f-black-90);
}

.themeLight .icon {
    color: var(--f-black-60);
}

.themeLight .disabled {
    color: var(--f-black-40);
}

.themeDark {
    color: var(--f-white);
}

.themeDark .icon {
    color: var(--f-black-40);
}

.themeDark .disabled {
    color: var(--f-black-60);
}
