/* (c) Copyright Frontify Ltd., all rights reserved. */
@use '../../../utilities/sizeToken.module.scss';
@use '../../../utilities/focusStyle.module.scss';
@use '../../../utilities/transitions.module.scss';

.root {
    display: flex;
    flex-direction: column;

    &[data-direction='horizontal'] {
        flex-direction: row;
    }

    &[data-spacing='tight'] {
        gap: var(--spacing-xx-small);
    }
    &[data-spacing='compact'] {
        gap: var(--spacing-small);
    }
    &[data-spacing='comfortable'] {
        gap: var(--spacing-medium);
    }
}

.item {
    @include transitions.transition-box-shadow;

    position: relative;
    display: flex;
    flex-direction: row;
    border: var(--border-width-default) solid var(--color-line-subtle);
    border-radius: var(--border-radius-medium);
    background-color: var(--color-surface-default);
    box-shadow: none;
    cursor: grab;
    overflow: hidden;

    &[data-padding='small'] {
        .content,
        .actions {
            padding: var(--spacing-xx-small);
        }
    }
    &[data-padding='none'] {
        .content,
        .actions {
            padding: 0;
        }
    }

    .content {
        flex: 1;
    }

    &:has(.handle) {
        cursor: pointer;
    }

    &:not(:has(.handle)) {
        cursor: grab;
    }

    &:hover,
    &[data-dropping='true'] {
        border-color: var(--color-line-mid);
    }
    &[data-dragging='true'] {
        box-shadow: var(--shadow-default);
        border-color: var(--color-line-mid);
    }

    &[data-selected='true'] {
        border-color: var(--color-primary-default);
        background-color: var(--color-surface-dim);
    }
}

.actions {
    display: flex;
    align-items: center;
}

.dragHandle {
    @include focusStyle.focus-outline;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: var(--spacing-xx-small);
    align-self: stretch;
    box-sizing: border-box;
    width: sizeToken.get(5);
    min-height: sizeToken.get(5);
    border-radius: calc(var(--border-radius-medium) - var(--border-width-default));

    &:hover,
    &:focus-visible,
    .item[data-dropping='true'] & {
        background-color: var(--color-container-secondary-hover);
    }

    &:active,
    .item[data-dragging='true'] & {
        background-color: var(--color-container-secondary-active);
    }
}

.handle {
    cursor: grab;
}
