/* (c) Copyright Frontify Ltd., all rights reserved. */
@use '../../../utilities/sizeToken.module.scss';
@use '../../../utilities/transitions.module.scss';

.root {
    display: flex;
    flex-direction: column;

    &[data-spacing='tight'] {
        gap: var(--spacing-xx-small);
    }
    &[data-spacing='compact'] {
        gap: var(--spacing-small);
    }
    &[data-spacing='comfortable'] {
        gap: var(--spacing-medium);
    }
}

.item {
    @include transitions.transition-box-shadow;

    position: relative;
    display: grid;
    grid-template-columns: 1fr sizeToken.get(7);
    align-items: center;
    border: var(--border-width-default) solid var(--color-line-subtle);
    border-radius: var(--border-radius-medium);
    background-color: var(--color-surface-default);
    box-shadow: none;

    &:hover {
        border-color: var(--color-line-mid);
    }
    &[data-dragging='true'] {
        box-shadow: var(--shadow-default);
        border-color: var(--color-line-mid);
    }

    .content {
        padding: var(--spacing-small);
        cursor: pointer;
    }
}

.handle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    right: var(--spacing-xx-small);
    top: var(--spacing-xx-small);
    bottom: var(--spacing-xx-small);
    width: sizeToken.get(5);
    border-radius: calc(var(--border-radius-medium) - var(--border-width-default));
    cursor: grab;

    &:hover {
        background-color: var(--color-container-secondary-hover);
    }

    &:active,
    .item[data-dragging='true'] & {
        background-color: var(--color-container-secondary-active);
    }
}
