/* (c) Copyright Frontify Ltd., all rights reserved. */

@import '@frontify/fondue-tokens/styles';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input.tw-hide-input-arrows::-webkit-outer-spin-button,
    input.tw-hide-input-arrows::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'].tw-hide-input-arrows {
        -moz-appearance: textfield;
    }

    .tw-popper-container[data-popper-placement^='top'] > .tw-popper-arrow {
        bottom: -4px;
    }

    .tw-popper-container[data-popper-placement^='bottom'] > .tw-popper-arrow {
        top: -4px;
    }

    .tw-popper-container[data-popper-placement^='left'] > .tw-popper-arrow {
        right: -4px;
    }

    .tw-popper-container[data-popper-placement^='right'] > .tw-popper-arrow {
        left: -4px;
    }
}

@font-face {
    font-display: swap;
    font-family: 'Space Grotesk Frontify';
    font-style: normal;
    font-weight: 300;
    src:
        url('../assets/fonts/SpaceGroteskFrontify-Light.woff2') format('woff2'),
        url('../assets/fonts/SpaceGroteskFrontify-Light.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Space Grotesk Frontify';
    font-style: normal;
    font-weight: 400;
    src:
        url('../assets/fonts/SpaceGroteskFrontify-Regular.woff2') format('woff2'),
        url('../assets/fonts/SpaceGroteskFrontify-Regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Space Grotesk Frontify';
    font-style: normal;
    font-weight: 500;
    src:
        url('../assets/fonts/SpaceGroteskFrontify-Medium.woff2') format('woff2'),
        url('../assets/fonts/SpaceGroteskFrontify-Medium.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Space Grotesk Frontify';
    font-style: normal;
    font-weight: 600;
    src:
        url('../assets/fonts/SpaceGroteskFrontify-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/SpaceGroteskFrontify-SemiBold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Space Grotesk Frontify';
    font-style: normal;
    font-weight: 700;
    src:
        url('../assets/fonts/SpaceGroteskFrontify-Bold.woff2') format('woff2'),
        url('../assets/fonts/SpaceGroteskFrontify-Bold.woff') format('woff');
}
