/* (c) Copyright Frontify Ltd., all rights reserved. */

.root {
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s;
}

.size-xx-small {
    font-size: var(--typography-font-size-xx-small);
    line-height: var(--typography-line-height-tight);
    letter-spacing: var(--typography-letter-spacing-default);
}
.size-x-small {
    font-size: var(--typography-font-size-x-small);
    line-height: var(--typography-line-height-tight);
    letter-spacing: var(--typography-letter-spacing-default);
}
.size-small {
    font-size: var(--typography-font-size-small);
    line-height: var(--typography-line-height-tight);
    letter-spacing: var(--typography-letter-spacing-default);
}
.size-medium {
    font-size: var(--typography-font-size-medium);
    line-height: var(--typography-line-height-medium);
    letter-spacing: var(--typography-letter-spacing-default);
}
.size-large {
    font-size: var(--typography-font-size-large);
    line-height: var(--typography-line-height-wide);
    letter-spacing: var(--typography-letter-spacing-default);
}
.size-x-large {
    font-size: var(--typography-font-size-x-large);
    line-height: var(--typography-line-height-loose);
    letter-spacing: var(--typography-letter-spacing-default);
}
.size-xx-large {
    font-size: var(--typography-font-size-xx-large);
    line-height: var(--typography-line-height-extra-loose);
    letter-spacing: var(--typography-letter-spacing-default);
}

.weight-regular {
    font-weight: var(--typography-font-weight-regular);
}
.weight-medium {
    font-weight: var(--typography-font-weight-medium);
}
.weight-bold {
    font-weight: var(--typography-font-weight-bold);
}

.wrap-wrap {
    white-space: normal;
}
.wrap-nowrap {
    white-space: nowrap;
}

.underline-auto {
    text-decoration: auto;
}
.underline-always {
    text-decoration: underline;
}
.underline-hover {
    text-decoration: none;
}
.underline-hover:hover {
    text-decoration: underline;
}
.underline-none {
    text-decoration: none;
}

.color-primary {
    color: var(--color-primary-default);
}
.color-secondary {
    color: var(--color-secondary-default);
}
.color-error {
    color: var(--color-error-default);
}
.color-success {
    color: var(--color-success-default);
}
.color-warning {
    color: var(--color-warning-default);
}
.color-highlight {
    color: var(--color-highlight-default);
}

.color-on-container-secondary {
    color: var(--color-container-secondary-on-secondary-container);
}
.color-on-container-disabled {
    color: var(--color-container-disabled-on-disabled);
}
.color-on-container-error {
    color: var(--color-container-error-on-error-container);
}
.color-on-container-success {
    color: var(--color-container-success-on-success-container);
}
.color-on-container-warning {
    color: var(--color-container-warning-on-warning-container);
}
.color-on-container-highlight {
    color: var(--color-container-highlight-on-highlight-container);
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.disabled {
    color: var(--color-disabled-default);
    pointer-events: none;
}
