/* (c) Copyright Frontify Ltd., all rights reserved. */

.root {
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s;
}

.size-xx-small {
    font-size: var(--body-size-xx-small);
    line-height: var(--body-size-xx-small-line-height);
}
.size-x-small {
    font-size: var(--body-size-x-small);
    line-height: var(--body-size-x-small-line-height);
}
.size-small {
    font-size: var(--body-size-small);
    line-height: var(--body-size-small-line-height);
}
.size-medium {
    font-size: var(--body-size-medium);
    line-height: var(--body-size-medium-line-height);
}
.size-large {
    font-size: var(--body-size-large);
    line-height: var(--body-size-large-line-height);
}
.size-x-large {
    font-size: var(--body-size-x-large);
    line-height: var(--body-size-x-large-line-height);
}
.size-xx-large {
    font-size: var(--body-size-xx-large);
    line-height: var(--body-size-xx-large-line-height);
}

.weight-regular {
    font-weight: 400;
}
.weight-medium {
    font-weight: 500;
}
.weight-bold {
    font-weight: 700;
}

.wrap-wrap {
    white-space: normal;
}
.wrap-nowrap {
    white-space: nowrap;
}

.underline-auto {
    text-decoration: auto;
}
.underline-always {
    text-decoration: underline;
}
.underline-hover {
    text-decoration: none;
}
.underline-hover:hover {
    text-decoration: underline;
}
.underline-none {
    text-decoration: none;
}

.color-primary {
    color: var(--color-primary-default);
}
.color-secondary {
    color: var(--color-secondary-default);
}
.color-error {
    color: var(--color-error-default);
}
.color-success {
    color: var(--color-success-default);
}
.color-warning {
    color: var(--color-warning-default);
}
.color-highlight {
    color: var(--color-highlight-default);
}

.color-on-container-secondary {
    color: var(--box-neutral-inverse-color);
}
.color-on-container-disabled {
    color: var(--box-disabled-color-inverse);
}
.color-on-container-error {
    color: var(--box-negative-inverse-color);
}
.color-on-container-success {
    color: var(--box-positive-inverse-color);
}
.color-on-container-warning {
    color: var(--box-warning-inverse-color);
}
.color-on-container-highlight {
    color: var(--box-selected-inverse-color);
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.disabled {
    color: var(--color-disabled-default);
    pointer-events: none;
}
