/* (c) Copyright Frontify Ltd., all rights reserved. */
@import '../../../utilities/sizeToken.module.scss';

.colorPreview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: sizeToken(4);
}

.pickers {
    padding: sizeToken(4);
}

.pickerSwitcher {
    display: none;

    .root:has([data-picker-type='brand-color']):has([data-picker-type='custom-color']) & {
        display: block;
    }

    padding: sizeToken(5);
    width: 100%;

    & > div {
        width: 100%;
    }
}
