/* (c) Copyright Frontify Ltd., all rights reserved. */
@use '../../../utilities/sizeToken.module.scss';
@use '../../../utilities/focusStyle.module.scss';
@use '../../../utilities/transitions.module.scss';


.root {
    width: 100%;
    position: relative;
    justify-content: start;
    align-items: center;
    gap: sizeToken.get(2);
    overflow: hidden;

    font-family: var(--body-family-stack);
    font-weight: 400;
    font-size: var(--body-size-medium);
    line-height: var(--body-size-medium-line-height);
    box-sizing: border-box;

    text-align: start;
    color: var(--text-color-x-weak);
    background-color: var(--base-color);
    border-radius: var(--radius);
    border: var(--line-width) solid var(--line-color-strong);

    & {
        @include transitions.transition-colors;
    }

    button:not(:hover) .clearIcon {
        color: var(--text-color-x-weak);
    }

    &:hover {
        border-color: var(--line-color-x-strong);
        color: var(--text-color-weak);
        .button:not(:hover) .clearIcon {
            color: var(--text-color-weak);
        }
    }

    &:has(:focus-visible),
    &[data-state='open'] {
        border-color: var(--line-color-xx-strong);
        color: var(--line-color-xx-strong);
        .button:not(:hover) .clearIcon {
            color: var(--text-color-weak);
        }

        .caret {
            transform: rotate(180deg);
        }
    }

    &:has(button[data-color-input-select]:focus-visible) {
        @include focusStyle.focus-outline-styles;
    }

    &:has(:disabled),
    &[data-disabled='true'] {
        border-color: var(--line-color-weak);
        background-color: var(--box-disabled-color);
        color: var(--text-color-disabled);

        button .clearIcon {
            color: var(--text-color-disabled);
        }
        cursor: default;

        .colorName {
            color: var(--text-color-disabled);
        }
    }

}

.caret {
    @include transitions.transition-all;
}

.colorName {
    color: var(--text-color);
}

.button {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: sizeToken.get(2);
    flex-grow: 1;
    padding-left: sizeToken.get(3);
    padding-right: sizeToken.get(3);
    height: sizeToken.get(9);
    outline: none;
    width: 100%;
}

.colorIndicator {
    position: relative;
    overflow: hidden;
    width: sizeToken.get(4);
    height: sizeToken.get(4);
    border-radius: sizeToken.get(1);
    border: 1px solid var(--line-color-x-strong);
    background-clip: padding-box;
    background-image: repeating-conic-gradient(white 0% 25%, var(--line-color-strong) 0% 50%);
    background-size: 6px 6px;
    background-position: -0.5px -0.5px;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--active-color);
    }
}

.actions {
    position: absolute;
    top: 0;
    bottom: 0;
    right: sizeToken.get(3);
    display: flex;
    align-items: center;
    pointer-events: none;
    gap: sizeToken.get(2);

    & > button:has(.clearIcon) {
        pointer-events: all;
    }
}

.clear {
    outline: none;
    padding: sizeToken.get(1);
    margin: sizeToken.get(1);
    @include focusStyle.focus-outline;
    pointer-events: all;
}
