/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/sizeToken.module.scss';
@use '../../../utilities/focusStyle.module.scss';

.root {
    display: flex;
    flex-direction: column;
    gap: sizeToken.get(4);
    max-width: 700px;
    container-type: inline-size;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr;
    gap: sizeToken.get(2);

    @container (min-width: 19.5rem) {
        grid-template-columns: 100px 1fr 100px;
    }
}

.colorFormatInput,
.colorAlphaInput {
    width: 100%;
}

.colorChannelInputGroup {
    display: flex;
    flex-direction: column;
    gap: sizeToken.get(2);

    @container (min-width: 19.5rem) {
        flex-direction: row;
    }
}

.inputDecorator {
    color: var(--text-color-weak);
}

.gradientInput {
    width: 100%;

    .reactColorful {
        width: 100%;
    }
}

//remove arrows from number inputs
.valueInput {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        -moz-appearance: textfield;
    }
}
