/* (c) Copyright Frontify Ltd., all rights reserved. */

@import '../../../utilities/sizeToken.module.scss';
@import '../../../utilities/focusStyle.module.scss';
@import '../../../utilities/transitions.module.scss';

.root {
    @include focus-outline;
    @include transition-colors;

    position: relative;
    background-color: var(--box-neutral-color);
    border-radius: 9999px;
    border: 1px solid rgba(8, 8, 8, 0.3);
    container-type: size;

    &[data-state='checked'] {
        background-color: var(--text-color-weak);
        &:hover {
            background: var(--box-neutral-strong-color-hover);
        }
    }

    &.indeterminate {
        background-color: var(--text-color-weak);
        .thumb {
            opacity: 0;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30%;
            height: 10%;
            background-color: var(--base-color);
            border-radius: 9999px;
        }
    }

    &.small {
        width: sizeToken(6);
        height: sizeToken(3);
    }

    &.medium {
        width: sizeToken(7.5);
        height: sizeToken(4);
    }

    &.large {
        width: sizeToken(9);
        height: sizeToken(5);
    }

    &.fullwidth {
        width: 100%;
    }

    .thumb {
        display: block;
        background-color: var(--base-color);
        border-radius: 9999px;
        border: 1px solid var(--box-neutral-inverse-color, #2d3232);
        transition: transform 100ms;
        transform: translateX(0);
        will-change: transform;
        width: calc(100cqh);
        height: calc(100%);
        &[data-state='checked'] {
            transform: translateX(calc(100cqw - 100%));
        }
    }
}
