/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/sizeToken.module.scss';
@use '../../../utilities/focusStyle.module.scss';
@use '../../../utilities/transitions.module.scss';

.root {
    position: relative;
    background-color: var(--color-container-secondary-default);
    border: 1px solid var(--color-line-mid);
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;

    &:enabled:hover {
        background-color: var(--color-container-secondary-hover);
    }

    &.small {
        --switch-width: #{sizeToken.get(6)};
        --switch-height: #{sizeToken.get(3)};
    }

    &.medium {
        --switch-width: #{sizeToken.get(7.5)};
        --switch-height: #{sizeToken.get(4)};
    }

    &.large {
        --switch-width: #{sizeToken.get(9)};
        --switch-height: #{sizeToken.get(5)};
    }

    & {
        width: var(--switch-width, 10px);
        height: var(--switch-height, 10px);
        border-radius: calc(var(--switch-height) / 2);
        @include focusStyle.focus-outline;
        @include transitions.transition-colors;
    }

    &[data-state='checked'] {
        border-color: var(--color-line-strong);
        background-color: var(--color-primary-default);

        &:enabled:hover {
            background-color: var(--color-primary-hover);
        }
    }

    &:disabled {
        border-color: var(--color-line-subtle);
        background-color: var(--color-container-disabled-default);

        .thumb {
            border-color: var(--color-line-mid);
        }
    }
}

.thumb {
    display: block;
    transform: translate(-1px, -1px);
    will-change: transform;
    box-sizing: border-box;
    width: calc(var(--switch-height));
    height: calc(var(--switch-height));

    background-color: var(--color-surface-default);
    border-radius: 9999px;
    border: 1px solid var(--color-line-strong);

    & {
        @include transitions.transition-transform;
    }

    &[data-state='checked'] {
        transform: translate(calc(var(--switch-width) - 100% - 1px), -1px);
    }
}
