.root {
    display: 'flex';
    align-items: 'center';

    .switch {
        width: 42px;
        height: 25px;
        background-color: black;
        border-radius: 9999px;
        position: relative;
        box-shadow: 0 2px 10px black;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        &:focus {
            box-shadow: 0 0 0 2px black;
        }
        &[data-state='checked'] {
            background-color: black;
        }
    }
    .thumb {
        display: block;
        width: 21px;
        height: 21px;
        background-color: white;
        border-radius: 9999px;
        box-shadow: 0 2px 2px black;
        transition: transform 100ms;
        transform: translateX(2px);
        will-change: transform;
        &[data-state='checked'] {
            transform: translateX(19px);
        }
    }

    .label {
        font-size: 15px;
        padding-right: 12px;
        line-height: 1;
    }
    /* reset */
    button {
        all: unset;
    }
}
