/* (c) Copyright Frontify Ltd., all rights reserved. */

@use "sass:list";
@use '../../../helpers/layout.module.scss';

$properties: (display);
$allProperties: list.join($properties, layout.$layoutProperties);

.root {
    @include layout.responsive-properties($allProperties);

    // Default values
    @each $property in $allProperties {
        @include layout.responsive-default-value($property, initial);
    }
    @include layout.responsive-default-value(display, block);
}
