@media (forced-colors: active) {
    :where(.fondue-rte-content p) {
        color: GrayText;
    }
}

:where(.fondue-rte-content p) {
    color: GrayText;
}

@media not (forced-colors: active) {
    :where(.fondue-rte-content p) {
        color: GrayText;
    }
}

@media (forced-colors: active) {
    :where(.fondue-rte-content p) {
        color: #fff;
        background: red;
    }
}

@media (forced-colors: none) {
    :where(.fondue-rte-content p) {
        color: GrayText;
    }
}

@media (forced-colors: active), (prefers-contrast: more) {
    :where(.fondue-rte-content p) {
        color: GrayText;
    }
}

@media (forced-colors: active) or (prefers-contrast: more) {
    :where(.fondue-rte-content p) {
        color: GrayText;
    }
}

@media (forced-colors: active) and ((min-width: 1px) or (max-width: 2px)) {
    :where(.fondue-rte-content p) {
        color: GrayText;
    }
}
