/* (c) Copyright Frontify Ltd., all rights reserved. */

.root {
    &[data-orientation="horizontal"][data-variant="dashed"] {
        border-image: repeating-linear-gradient(90deg,
                /* 4px dash */
                var(--color-line-mid) 0 4px,
                /* 3px gap (7px - 4px) */
                transparent 4px 7px
            ) 1;
    }

    &[data-orientation="vertical"][data-variant="dashed"] {
        border-image: repeating-linear-gradient(0deg,
                /* 4px dash */
                var(--color-line-mid) 0 4px,
                /* 3px gap (7px - 4px) */
                transparent 4px 7px
            ) 1;
    }
}
