/* (c) Copyright Frontify Ltd., all rights reserved. */

@use 'sass:list';
@use '../../../helpers/layout.module.scss';

$properties: (display, flex-direction, align-items, justify-content, flex-wrap, gap, gap-x, gap-y);
$allProperties: list.join($properties, layout.$layoutProperties);

@include layout.register-properties($allProperties);

.root {
    box-sizing: border-box;

    @include layout.responsive-properties($allProperties);

    --display: flex;
    --flex-direction: row;
}
