/* (c) Copyright Frontify Ltd., all rights reserved. */

@use 'sass:list';
@use '../../../helpers/layout.module.scss';

$properties: (display, flex-direction, align-items, justify-content, flex-wrap, gap, gap-x, gap-y);
$allProperties: list.join($properties, layout.$layoutProperties);

.root {
    box-sizing: border-box;

    @include layout.responsive-properties($allProperties);

    // Default values
    @each $property in $allProperties {
        @include layout.responsive-default-value($property, initial);
    }
    @include layout.responsive-default-value(display, flex);
    @include layout.responsive-default-value(flex-direction, row);
}
