/* (c) Copyright Frontify Ltd., all rights reserved. */

.title {
    display: flex;
    justify-content: center;
    padding: var(--f-spacing-3x) 0;
    cursor: pointer;
    user-select: none;
}

.title:hover {
    border-bottom: 2px solid var(--f-violet-40);
}

.title:focus-visible {
    outline: 2px solid var(--f-violet-60);
}

.title.selected,
.title.selected:hover {
    border-bottom: 2px solid var(--f-violet-60);
}
