/* (c) Copyright Frontify Ltd., all rights reserved. */

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.tooltip {
    z-index: 100;
    padding: var(--f-spacing-4x);
    border: var(--f-border);
    background-color: var(--f-white);
    border-radius: var(--f-corner-4px);
    box-shadow: var(--f-shadow-mid);
    visibility: hidden;
}

.icon:hover + .tooltip {
    visibility: visible;
}

.themeLight .icon {
    color: var(--f-black-60);
}

.themeDark .icon {
    color: var(--f-black-40);
}

.themeLight .icon:hover {
    color: var(--f-black-100);
}

.themeDark .icon:hover {
    color: var(--f-white);
}
