/* (c) Copyright Frontify Ltd., all rights reserved. */

@import '../../../utilities/sizeToken.module.scss';
@import '../../../utilities/transitions.module.scss';

.content,
.subContent {
    display: block;
    border-radius: var(--radius);
    background-color: var(--base-color);
    border: var(--line-width) solid var(--line-color-strong);
    box-shadow: var(--shadow-matrix);
    min-width: 250px;
    overflow: auto;

    &:focus-within {
        border-color: var(--line-color-xx-strong);
    }
}

.subContent {
    margin-left: sizeToken(2);
}

.item,
.subTrigger {
    @include transition-colors;
    display: flex;
    align-items: center;
    height: sizeToken(10);
    gap: sizeToken(1.5);
    padding: sizeToken(3) sizeToken(5);
    margin: sizeToken(1);
    border-radius: sizeToken(1);
    cursor: pointer;
    text-align: start;
    font-size: var(--body-size-medium);
    line-height: var(--body-size-medium-line-height);
    color: var(--text-color-weak);
    outline-style: none;
    box-sizing: border-box;
    &[data-state='open'] {
        background-color: var(--box-neutral-color);
        color: var(--text-color);
    }

    &[data-highlighted] {
        background-color: var(--box-neutral-strong-color);
        color: var(--box-neutral-strong-inverse-color);
    }

    &[data-disabled] {
        cursor: not-allowed;
        color: var(--text-color-disabled);
        background-color: var(--box-disabled-color);
    }

    .subMenuIndicator {
        order: 2;
        margin-left: auto;
    }
}

.group {
    .item ~ &, .group ~ & {
        border-top: var(--line-width) solid var(--line-color-strong);
    }
    &:has(+ .item) {
        border-bottom: var(--line-width) solid var(--line-color-strong);
    }
}

.slot {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: sizeToken(1.5);

    // Left slot
    &:not([data-name='right']) {
        order: -1;
    }

    // Right slot
    &[data-name='right'] {
        order: 1;
        margin-left: auto;

        & ~ .subMenuIndicator {
            margin-left: sizeToken(1.5);
        }
    }

    // 2 slots without any name should be implicitly ordered
    &:not([data-name='right']) ~ :not([data-name='left']) {
        order: 1;
        margin-left: auto;

        & ~ .subMenuIndicator {
            margin-left: 0;
        }
    }
}
