/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/sizeToken.module.scss';
@use '../../../utilities/transitions.module.scss';
@use '../../../utilities/mediaQuery.module.scss';
@use '../../../utilities/shadow.module.scss';
@use '../../../utilities/focusStyle.module.scss';

.content,
.subContent {
    display: block;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-surface-default);
    border: var(--border-width-default) solid var(--color-line-subtle);
    width: 250px;
    overflow: auto;
    max-height: var(--radix-dropdown-menu-content-available-height);

    &[data-state='closed'] {
        display: none;
    }

    &[data-state='open'] {
        display: block;
    }

    & {
        @include shadow.shadow-lg;
    }

    .item,
    .subTrigger {
        padding: sizeToken.get(2) sizeToken.get(3);
    }

    & {
        @include mediaQuery.sm {
            width: auto;
            min-width: 250px;
            max-width: 350px;
        }
    }
}

.subContent {
    margin-inline-start: sizeToken.get(2);
}

.item,
.subTrigger {
    display: flex;
    align-items: center;
    gap: sizeToken.get(2);
    margin: sizeToken.get(0.5) sizeToken.get(2);
    border-radius: sizeToken.get(1);
    cursor: pointer;
    text-align: start;
    font-size: var(--typography-font-size-medium);
    line-height: var(--typography-line-height-medium);
    color: var(--color-primary-default);
    outline-style: none;

    &:active {
        transition: none;
    }

    &:not([data-show-focus-ring="false"]) {
        @include focusStyle.focus-outline;
    }

    &:first-child {
        margin-top: sizeToken.get(2);
    }

    &:last-child {
        margin-bottom: sizeToken.get(2);
    }

    &[data-state='open'] {
        background-color: var(--color-container-secondary-default);
    }

    &[data-emphasis='danger'] {
        color: var(--color-error-default);
    }

    &[data-highlighted],
    &:hover:not([data-disabled]) {
        background-color: var(--color-surface-hover);
    }

    &[data-highlighted]:active,
    &:hover:not([data-disabled]):active {
        background-color: var(--color-surface-active);
        transition: none;
    }

    &[data-emphasis='danger'][data-highlighted],
    &[data-emphasis='danger']:hover:not([data-disabled]) {
        background-color: var(--color-error-hover);
        color: var(--color-primary-on-primary);
    }

    &[data-emphasis='danger']:active {
        background-color: var(--color-error-active);
    }

    &[data-disabled] {
        cursor: not-allowed;
        color: var(--color-disabled-default);
    }

    span {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .subMenuIndicator {
        order: 2;
        margin-inline-start: auto;
    }

    [dir='rtl'] & .subMenuIndicator {
        transform: scaleX(-1);
    }
}

.group {
    .item~&,
    .group~& {
        border-top: var(--border-width-default) solid var(--color-line-subtle);
    }

    &:has(+ .item) {
        border-bottom: var(--border-width-default) solid var(--color-line-subtle);
    }
}

.groupHeading {
    text-transform: uppercase;
    line-height: sizeToken.get(4);
    color: var(--color-secondary-default);
    font-size: var(--typography-font-size-x-small);
    font-weight: var(--typography-font-weight-medium);
    padding: sizeToken.get(2) sizeToken.get(5) 0;
    margin-top: sizeToken.get(1);
    letter-spacing: 0.8px;
}

.slot {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: sizeToken.get(1.5);

    // Left slot
    &:not([data-name='right']) {
        order: -1;
    }

    // Right slot
    &[data-name='right'] {
        order: 1;
        margin-inline-start: auto;

        &~.subMenuIndicator {
            margin-inline-start: sizeToken.get(1.5);
        }
    }

    // 2 slots without any name should be implicitly ordered
    &:not([data-name='right'])~.slot:not([data-name='left']) {
        order: 1;
        margin-inline-start: auto;

        &~.subMenuIndicator {
            margin-inline-start: 0;
        }
    }
}
