/* (c) Copyright Frontify Ltd., all rights reserved. */

@import '../../../utilities/sizeToken.module.scss';
@import '../../../utilities/focusStyle.module.scss';
@import '../../../utilities/transitions.module.scss';

.content, .subContent {
    display: block;
    border-radius: var(--radius);
    margin-top: sizeToken(2);
    background-color: var(--base-color);
    border: var(--line-width) solid var(--line-color-strong);
    box-shadow: var(--shadow-matrix);
    overflow: hidden;
    min-width: 250px;
}



.item, .subTrigger {
    @include transition-colors;

    display: flex;
    align-items: center;
    gap: sizeToken(1.5);
    padding: sizeToken(3) sizeToken(5);
    cursor: pointer;
    text-align: start;
    font-size: var(--body-size-medium);
    line-height: var(--body-size-medium-line-height);
    color: var(--text-color-weak);
    outline: none;

    &[data-highlighted] {
        background-color: var(--box-neutral-color-hover);
        color: var(--text-color);
    }

    &[data-disabled] {
        cursor: not-allowed;
        color: var(--text-color-disabled);
        background-color: var(--box-disabled-color);
    }

    .subMenuIndicator {
        order: 2;
        margin-left: auto;
    }
}

.group {
    .item~& {
        border-top: var(--line-width) solid var(--line-color-strong);
    }
    &:has(+ .item) {
        border-bottom: var(--line-width) solid var(--line-color-strong);
    }
}


.slot {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: sizeToken(1.5);

    // Left slot
    &:not([data-name='right']) {
        order: -1;
    }

    // Right slot
    &[data-name='right'] {
        order: 1;
        margin-left: auto;

        &~.subMenuIndicator {
            margin-left: sizeToken(1.5);
        }
    }

    // 2 slots without any name should be implicitly ordered
    &:not([data-name='right']) ~ :not([data-name='left']) {
        order: 1;
        margin-left: auto;

        &~.subMenuIndicator {
            margin-left: 0;
        }
    }
}


