/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/sizeToken.module.scss';
@use '../../../utilities/transitions.module.scss';
@use '../../../utilities/mediaQuery.module.scss';
@use '../../../utilities/shadow.module.scss';
@use '../../../utilities/focusStyle.module.scss';

.content,
.subContent {
    display: block;
    border-radius: var(--radius);
    background-color: var(--base-color);
    border: var(--line-width) solid var(--line-color);
    width: 250px;
    overflow: auto;
    max-height: var(--radix-dropdown-menu-content-available-height);

    & {
        @include shadow.shadow-lg;
    }

    .item,
    .subTrigger {
        padding: sizeToken.get(2) sizeToken.get(3);
    }

    & {
        @include mediaQuery.sm {
            width: auto;
            min-width: 250px;
            max-width: 350px;
        }
    }
}

.subContent {
    margin-left: sizeToken.get(2);
}

.item,
.subTrigger {
    display: flex;
    align-items: center;
    gap: sizeToken.get(2);
    margin: sizeToken.get(0.5) sizeToken.get(2);
    border-radius: sizeToken.get(1);
    cursor: pointer;
    text-align: start;
    font-size: var(--body-size-medium);
    line-height: var(--body-size-medium-line-height);
    color: var(--text-color);
    outline-style: none;

    &:active {
        transition: none;
    }


    &:not([data-show-focus-ring="false"]) {
        @include focusStyle.focus-outline;
    }

    &:first-child {
        margin-top: sizeToken.get(2);
    }

    &:last-child {
        margin-bottom: sizeToken.get(2);
    }

    &[data-state='open'] {
        background-color: var(--box-neutral-color);
        color: var(--text-color);
    }

    &[data-emphasis='danger'] {
        color: var(--text-color-negative);
    }

    &[data-highlighted] {
        background-color: var(--box-neutral-color);
        color: var(--box-neutral-inverse-color-hover);
    }

    &[data-highlighted]:active {
        background-color: var(--box-neutral-color-hover);
        transition: none;
    }

    &[data-emphasis='danger'][data-highlighted] {
        background-color: var(--text-color-negative);
        color: var(--box-neutral-strong-inverse-color);
    }

    &[data-emphasis='danger']:active {
        background-color: var(--text-color-negative-hover);
    }

    &[data-disabled] {
        cursor: not-allowed;
        color: var(--text-color-disabled);
    }

    span {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .subMenuIndicator {
        order: 2;
        margin-left: auto;
    }
}

.group {

    .item~&,
    .group~& {
        border-top: var(--line-width) solid var(--line-color-strong);
    }

    &:has(+ .item) {
        border-bottom: var(--line-width) solid var(--line-color-strong);
    }
}

.groupHeading {
    text-transform: uppercase;
    line-height: sizeToken.get(4);
    color: var(--text-color-x-weak);
    font-size: var(--body-size-x-small);
    font-weight: var(--body-weight-strong-number);
    padding: sizeToken.get(2) sizeToken.get(5) 0;
    margin-top: sizeToken.get(1);
    letter-spacing: 0.8px;
}

.slot {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: sizeToken.get(1.5);

    // Left slot
    &:not([data-name='right']) {
        order: -1;
    }

    // Right slot
    &[data-name='right'] {
        order: 1;
        margin-left: auto;

        &~.subMenuIndicator {
            margin-left: sizeToken.get(1.5);
        }
    }

    // 2 slots without any name should be implicitly ordered
    &:not([data-name='right'])~.slot:not([data-name='left']) {
        order: 1;
        margin-left: auto;

        &~.subMenuIndicator {
            margin-left: 0;
        }
    }
}
