/* (c) Copyright Frontify Ltd., all rights reserved. */

@import "@frontify/fondue-tokens/styles";
@import "@frontify/fondue-tokens/themes/theme.dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input.tw-hide-input-arrows::-webkit-outer-spin-button,
    input.tw-hide-input-arrows::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"].tw-hide-input-arrows {
        -moz-appearance: textfield;
    }

    .tw-popper-container[data-popper-placement^="top"] > .tw-popper-arrow {
        bottom: -4px;
    }

    .tw-popper-container[data-popper-placement^="bottom"] > .tw-popper-arrow {
        top: -4px;
    }

    .tw-popper-container[data-popper-placement^="left"] > .tw-popper-arrow {
        right: -4px;
    }

    .tw-popper-container[data-popper-placement^="right"] > .tw-popper-arrow {
        left: -4px;
    }
}

