@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input.tw-hide-input-arrows::-webkit-outer-spin-button,
    input.tw-hide-input-arrows::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"].tw-hide-input-arrows {
        -moz-appearance: textfield;
    }
}
