:root {
    /* Base Colors */
    --f-white: rgb(255, 255, 255);
    --f-black: rgb(45, 50, 50);

    /* Blacks */
    --f-black-100: rgb(45, 50, 50);
    --f-black-95: rgb(66, 71, 71);
    --f-black-90: rgb(87, 91, 91);
    --f-black-85: rgb(95, 99, 99);
    --f-black-80: rgb(108, 112, 112);
    --f-black-70: rgb(129, 132, 132);
    --f-black-60: rgb(150, 152, 152);
    --f-black-50: rgb(171, 173, 173);
    --f-black-40: rgb(179, 181, 181);
    --f-black-30: rgb(192, 194, 194);
    --f-black-20: rgb(213, 214, 214);
    --f-black-10: rgb(234, 235, 235);
    --f-black-05: rgb(247, 247, 247);
    --f-black-00: rgb(250, 250, 250);
    --f-warm-gray: rgb(230, 220, 220);
    --f-black-superdark: rgb(26, 29, 29);

    /* Violets */
    --f-violet-20: rgb(227, 212, 246);
    --f-violet-40: rgb(200, 209, 237);
    --f-violet-50: rgb(144, 136, 255);
    --f-violet-60: rgb(130, 95, 255);
    --f-violet-70: rgb(100, 73, 196);
    --f-violet-90: rgb(68, 49, 133);
    --f-violet-opacity-high: rgba(110, 95, 255, 0.8);
    --f-violet-opacity-mid: rgba(60, 100, 237, 0.4);
    --f-violet-opacity-low: rgba(40, 80, 220, 0.2);
    --f-violet-opacity-lower: rgba(50, 85, 200, 0.1);
    --f-violet-opacity-none: rgba(50, 85, 200, 0);

    /* Greens */
    --f-green-20: rgb(222, 240, 233);
    --f-green-40: rgb(190, 225, 212);
    --f-green-50: rgb(128, 219, 183);
    --f-green-60: rgb(0, 200, 165);
    --f-green-70: rgb(0, 160, 132);
    --f-green-90: rgb(0, 100, 82);

    /* Yellows */
    --f-yellow-20: rgb(240, 233, 222);
    --f-yellow-40: rgb(225, 212, 190);
    --f-yellow-50: rgb(238, 199, 121);
    --f-yellow-60: rgb(255, 180, 0);
    --f-yellow-70: rgb(230, 162, 0);
    --f-yellow-90: rgb(204, 144, 0);

    /* Reds */
    --f-red-20: rgb(240, 225, 222);
    --f-red-40: rgb(225, 196, 190);
    --f-red-50: rgb(255, 128, 102);
    --f-red-60: rgb(255, 55, 90);
    --f-red-70: rgb(204, 44, 72);
    --f-red-90: rgb(153, 33, 54);

    /* Lightening */
    --f-white-opacity-lower: rgba(255, 255, 255, 0.1);
    --f-white-opacity-low: rgba(255, 255, 255, 0.25);
    --f-white-opacity-mid: rgba(255, 255, 255, 0.4);
    --f-white-opacity-high: rgba(255, 255, 255, 0.7);

    /* Darkening */
    --f-black-opacity-lower: rgba(45, 50, 50, 0.1);
    --f-black-opacity-low: rgba(45, 50, 50, 0.25);
    --f-black-opacity-mid: rgba(45, 50, 50, 0.4);
    --f-black-opacity-high: rgba(45, 50, 50, 0.7);

    /* Special Colors */
    --f-special-color-editing: var(--f-violet-opacity-low);

    /* Border */
    --f-border: 1px solid var(--f-black-10);
    --f-border-hover: 1px solid var(--f-black);
    --f-border-focus: 1px solid var(--f-black-90);
    --f-border-clicked: 1px solid var(--f-black-superdark);
    --f-border-transition: border 0.3s ease-out;

    /* Shadow */
    --f-shadow-small: 0 1px 3px 0 var(--f-black-opacity-lower); /* deprecated, use: border: var(--f-border); border-radius: var(--f-corner-4px); */
    --f-shadow-mid: 0 3px 10px 0 var(--f-black-opacity-lower);
    --f-shadow-mid-top: 0 -10px 10px -5px var(--f-black-opacity-lower);
    --f-shadow-mid-bottom: 0 10px 10px -5px var(--f-black-opacity-lower);
    --f-shadow-large: 0 25px 80px 0 var(--f-black-opacity-mid);

    /* Shadow for focused elements, like buttons etc. */
    --f-shadow-element-focused-background-white: 0 0 0 2px var(--f-white), 0 0 4px 3px var(--f-violet-60);
    --f-shadow-element-focused-background-black-05: 0 0 0 2px var(--f-black-10), 0 0 4px 3px var(--f-violet-60);
    --f-shadow-element-focused-background-black-90: 0 0 0 2px var(--f-black-100), 0 0 4px 3px var(--f-violet-60);
    --f-shadow-element-focused-background-black-100: var(--f-shadow-element-focused-background-black-90);

    /* Reusable Text Values */
    --f-hyperlink-color: var(--f-violet-70);

    /* Spacing */
    --f-spacing-1x-half: 2px;
    --f-spacing-1x: 4px;
    --f-spacing-2x: 8px;
    --f-spacing-3x: 12px;
    --f-spacing-4x: 16px;
    --f-spacing-5x: 20px;
    --f-spacing-6x: 24px;
    --f-spacing-7x: 28px;
    --f-spacing-8x: 32px;
    --f-spacing-9x: 36px;
    --f-spacing-10x: 40px;
    --f-spacing-11x: 44px;
    --f-spacing-12x: 48px;
    --f-spacing-14x: 56px;
    --f-spacing-15x: 60px;
    --f-spacing-16x: 64px;
    --f-spacing-18x: 72px;
    --f-spacing-20x: 80px;
    --f-spacing-30x: 120px;
    --f-spacing-40x: 160px;
    --f-spacing-60x: 240px;
    --f-spacing-80x: 320px;
    --f-spacing-90x: 360px;
    --f-spacing-160x: 640px;

    /* Font Scales */
    --f-font-11-size: 11px;
    --f-font-11-line-height: 14px;
    --f-font-11-letter-spacing: 0.3px;
    --f-font-12-size: 12px;
    --f-font-12-line-height: 18px;
    --f-font-13-size: 13px;
    --f-font-13-line-height: 18px;
    --f-font-14-size: 14px;
    --f-font-14-line-height: 18px;
    --f-font-16-size: 16px;
    --f-font-16-line-height: 20px;
    --f-font-18-size: 18px;
    --f-font-18-line-height: 20px;
    --f-font-20-size: 20px;
    --f-font-20-line-height: 24px;
    --f-font-24-size: 24px;
    --f-font-24-line-height: 28px;

    /* Transitions */
    --f-transition-ease-in-out: 200ms ease-in-out;
    --f-transition-linear: 200ms linear;

    /* Corners */
    --f-corner-4px: 4px;

    /* Header */
    --f-header-height: 60px;
    --f-header-height-with-border: 61px;

    /* Notificationbar */
    --f-notificationbar-height: 55px;
    --f-notificationbar-height-with-border: 56px;

    /* Powerbar */
    --f-powerbar-width: 60px;
    --f-powerbar-width-fullscreen: 50px;

    /* Sidebar */
    --f-editor-sidebar-width: 400px;

    /* Sidebarleft */
    --f-editor-sidebarleft-width: 256px;
    --f-editor-sidebarleft-width-with-border: 257px;

    /* Modal */
    --f-modal-content-margin: 40px 0 30px 0;
    --f-modal-content-text-align: left;

    /* Fonts */
    --f-font-standard: "Space Grotesk Frontify", "Arial", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
        "Helvetica", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --f-font-mono: "Menlo", "Courier", monospace;
}
