/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/sizeToken.module.scss';

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.root {
    animation: spin 1s linear infinite;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-highlight-default);
    border-top-color: transparent;
    aspect-ratio: 1 / 1;
    padding: 0;

    &[data-variant='success'] {
        border-color: var(--color-success-default);
        border-top-color: transparent;
    }

    &[data-variant='danger'] {
        border-color: var(--color-error-default);
        border-top-color: transparent;
    }

    &[data-size='xx-small'] {
        width: sizeToken.get(3);
        height: sizeToken.get(3);
    }

    &[data-size='x-small'] {
        width: sizeToken.get(4);
        height: sizeToken.get(4);
    }

    &[data-size='small'] {
        width: sizeToken.get(5);
        height: sizeToken.get(5);
    }

    &[data-size='medium'] {
        width: sizeToken.get(8);
        height: sizeToken.get(8);
    }

    &[data-size='large'] {
        width: sizeToken.get(16);
        height: sizeToken.get(16);
    }
}
