/* (c) Copyright Frontify Ltd., all rights reserved. */

@use '../../../utilities/mediaQuery.module.scss';
@use '../../../utilities/sizeToken.module.scss';
@use '../../../utilities/shadow.module.scss';
@use '../../../utilities/focusStyle.module.scss';

.root {
    display: flex;
    flex-direction: column;
    background-color: var(--base-color);
    border: var(--line-width) solid var(--line-color);
    width: 100%;
    overflow: auto;
    max-height: var(--radix-popover-content-available-height);
    color: var(--text-color);

    &[data-rounded='medium'] {
        border-radius: var(--radius);
    }

    &[data-rounded='large'] {
        border-radius: var(--radius-large);
    }

    &[data-shadow='medium'] {
        @include shadow.shadow-md;
    }

    &[data-shadow='large'] {
        @include shadow.shadow-lg;
    }

    & {
        @include focusStyle.focus-outline;

        @include mediaQuery.sm {
            width: var(--flyout-width);
            max-width: var(--flyout-max-width);
            margin-top: 0;
            background-color: var(--base-color);
        }
    }

    // Mobile view flyout -> dialog responsiveness
    body [data-radix-popper-content-wrapper]:has(&) {
        @include mediaQuery.max-sm {
            &:has([data-side='top']),
            &:has([data-side='bottom']) {
                // Radix always leaves an 8px gap on the left side via its transform property
                width: calc(100dvw - 16px);
            }
            // This prevents overflowing of content since radix applies a min-width of max-content
            min-width: 0 !important;
        }
    }
}

// Responsive dialog background element
.overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--box-positive-strong-inverse-color);
    opacity: 0.3;
    pointer-events: none;

    & {
        @include mediaQuery.sm {
            display: none;
        }
    }
}

.header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    border-bottom: var(--line-width) solid var(--line-color);

    .root[data-flyout-spacing='tight'] & {
        padding-block: sizeToken.get(2);
        padding-inline: sizeToken.get(2);
    }

    .root[data-flyout-spacing='compact'] & {
        padding-block: sizeToken.get(4);
        padding-inline: sizeToken.get(4);
    }

    .root[data-flyout-spacing='comfortable'] & {
        padding-block: sizeToken.get(6);
        padding-inline: sizeToken.get(6);
    }

    .root[data-flyout-spacing='spacious'] & {
        padding-block: sizeToken.get(10);
        padding-inline: sizeToken.get(10);
    }
}

.body {
    display: flex;
    flex-direction: column;
    gap: sizeToken.get(4);
    overflow-y: hidden;
    flex: 0 0 auto;

    &[data-scrollable='true'] {
        overflow-y: auto;
        flex: 1 1 auto;
        min-height: 0;
    }

    .root[data-flyout-spacing='tight'] & {
        padding-block: sizeToken.get(2);
        padding-inline: sizeToken.get(2);
    }

    .root[data-flyout-spacing='compact'] & {
        padding-block: sizeToken.get(2);
        padding-inline: sizeToken.get(4);
    }

    .root[data-flyout-spacing='comfortable'] & {
        padding-block: sizeToken.get(4);
        padding-inline: sizeToken.get(6);
    }

    .root[data-flyout-spacing='spacious'] & {
        padding-block: sizeToken.get(6);
        padding-inline: sizeToken.get(10);
    }
}

.footer {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    gap: sizeToken.get(2);
    font-weight: 400;
    border-top: var(--line-width) solid var(--line-color);

    .root[data-flyout-spacing='tight'] & {
        padding-block: sizeToken.get(2);
        padding-inline: sizeToken.get(2);
    }

    .root[data-flyout-spacing='compact'] & {
        padding-block: sizeToken.get(4);
        padding-inline: sizeToken.get(4);
    }

    .root[data-flyout-spacing='comfortable'] & {
        padding-block: sizeToken.get(6);
        padding-inline: sizeToken.get(6);
    }

    .root[data-flyout-spacing='spacious'] & {
        padding-block: sizeToken.get(10);
        padding-inline: sizeToken.get(10);
    }
}

.close {
    @include focusStyle.focus-outline;
    cursor: pointer;
}
