/* (c) Copyright Frontify Ltd., all rights reserved. */

.tree {
    max-width: 800px;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: var(--f-font-standard);
    font-weight: 400;
}

.nodeLink {
    display: flex;
    text-decoration: none;
    color: var(--f-black);
    padding: var(--f-spacing-1x) var(--f-spacing-2x);
    cursor: pointer;
    border-radius: var(--f-corner-4px);
    justify-content: center;
    align-items: center;
}

.tree .tree .nodeLink {
    padding-left: var(--f-spacing-8x);
}

.tree .tree .tree .nodeLink {
    padding-left: var(--f-spacing-16x);
}

.selectableNodeLink:hover {
    background-color: var(--f-black-05);
}

.nodeLinkSelected,
.nodeLinkSelected:hover {
    color: var(--f-white);
    background-color: var(--f-violet-60);
}

.nodeIcon {
    padding-left: var(--f-spacing-2x);
}

.nodeName {
    padding-left: var(--f-spacing-2x);
}

.nodeLabel {
    font-weight: 400;
    margin-left: auto;
    color: var(--f-black-opacity-mid);
}

.nodeLinkSelected .nodeLabel {
    color: hsla(0, 0%, 100%, 0.6);
}

.strong {
    font-weight: 700;
}
