/* (c) Copyright Frontify Ltd., all rights reserved. */

.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0;
    border: var(--f-border);
    border-color: var(--f-black-20);
    margin: 0;
    background-color: var(--f-black-00);
    border-radius: var(--f-corner-4px);
    font-family: var(--f-font-standard);
    font-size: var(--f-font-14-size);
    list-style-type: none;
}

.item {
    overflow: hidden;
    flex: 1;
    padding: var(--f-spacing-2x);
    color: var(--f-black-80);
    text-align: center;
    text-overflow: ellipsis;
    transition: color var(--f-transition-ease-in-out);
    white-space: nowrap;
}

.item > * {
    margin: auto;
}

.item:hover {
    color: var(--f-black-100);
    cursor: pointer;
}

.item.active {
    box-sizing: border-box;
    border: var(--f-border);
    border-color: var(--f-black-100);
    margin: -1px;
    background-color: var(--f-white);
    border-radius: var(--f-corner-4px);
    color: var(--f-black-100);
}
