name: Continuous Deployment

on:
    release:
        types: [published]

jobs:
    tests:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout default branch
              uses: actions/checkout@v2

            - name: Use Node.js ${{ secrets.NODE_VERSION }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ secrets.NODE_VERSION }}

            - name: Cache dependencies
              id: npm_cache
              uses: actions/cache@v2
              with:
                  path: '**/node_modules'
                  key: node${{ secrets.NODE_VERSION }}-${{ hashFiles('package-lock.json') }}

            - name: Install dependencies
              if: steps.npm_cache.outputs.cache-hit != 'true'
              run: npm ci

            - name: Lint and fix code
              run: npm run lint

            - name: Typecheck
              run: npm run typecheck

            - name: Test code
              run: npm test

    publish:
        runs-on: ubuntu-latest

        needs: tests

        permissions:
            packages: write
            contents: read

        steps:
            - name: Checkout default branch
              uses: actions/checkout@v2

            - name: Use Node.js ${{ secrets.NODE_VERSION }} (npm repository)
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ secrets.NODE_VERSION }}
                  registry-url: "https://registry.npmjs.org"

            - name: Cache dependencies
              id: npm_cache
              uses: actions/cache@v2
              with:
                  path: '**/node_modules'
                  key: node${{ secrets.NODE_VERSION }}-${{ hashFiles('package-lock.json') }}

            - name: Install dependencies
              if: steps.npm_cache.outputs.cache-hit != 'true'
              run: npm ci

            - name: Build the CLI
              run: npm run build

            - name: Publish to npm
              run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Use Node.js ${{ secrets.NODE_VERSION }} (GitHub repository)
              uses: actions/setup-node@v2
              with:
                  registry-url: "https://npm.pkg.github.com"
                  node-version: ${{ secrets.NODE_VERSION }}

            - name: Publish to GitHub Packages
              run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
