name: Continuous Deployment

on:
    workflow_dispatch:
        branches:
            - 'main'
    push:
        branches:
            - 'beta'

env:
    NODE_VERSION: 18
    CI: true
    CYPRESS_CACHE_FOLDER: /tmp/cypress_cache
    NUMBER_OF_RUNNERS: 7

jobs:
    linting:
        runs-on: ubuntu-latest
        timeout-minutes: 10

        steps:
            - name: Checkout current commit
              uses: actions/checkout@v3

            - name: Use Node.js ${{ env.NODE_VERSION }} (npm repository)
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'npm'

            - name: Cache dependencies
              id: npm_cache
              uses: actions/cache@v3
              with:
                  path: |
                      node_modules
                      ${{ env.CYPRESS_CACHE_FOLDER }}
                  key: node_modules-${{ hashFiles('package-lock.json') }}
                  restore-keys: node_modules-

            - name: Install dependencies
              if: steps.npm_cache.outputs.cache-hit != 'true'
              run: npm ci

            - name: Lint files
              run: npm run lint

    typecheck:
        runs-on: ubuntu-latest
        timeout-minutes: 10

        steps:
            - name: Checkout current commit
              uses: actions/checkout@v3

            - name: Use Node.js ${{ env.NODE_VERSION }} (npm repository)
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'npm'

            - name: Cache dependencies
              id: npm_cache
              uses: actions/cache@v3
              with:
                  path: |
                      node_modules
                      ${{ env.CYPRESS_CACHE_FOLDER }}
                  key: node_modules-${{ hashFiles('package-lock.json') }}
                  restore-keys: node_modules-

            - name: Install dependencies
              if: steps.npm_cache.outputs.cache-hit != 'true'
              run: npm ci

            - name: Typecheck files
              run: npm run typecheck

    component-tests:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout current commit
              uses: actions/checkout@v3

            - name: Use Node.js ${{ env.NODE_VERSION }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ env.NODE_VERSION }}

            - name: Cache dependencies
              id: npm_cache
              uses: actions/cache@v3
              with:
                  path: |
                      node_modules
                      ${{ env.CYPRESS_CACHE_FOLDER }}
                  key: node_modules-${{ hashFiles('package-lock.json') }}
                  restore-keys: node_modules-

            - name: Install dependencies
              if: steps.npm_cache.outputs.cache-hit != 'true'
              run: npm ci

            - name: Component Tests
              run: npm run test
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    publish:
        runs-on: ubuntu-latest

        needs: [linting, typecheck, component-tests]

        permissions:
            packages: write
            contents: write
            pull-requests: write

        steps:
            - name: Checkout default branch
              uses: actions/checkout@v3

            - name: Use Node.js ${{ env.NODE_VERSION }} (npm repository)
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  registry-url: 'https://registry.npmjs.org'
                  cache: 'npm'

            - name: Cache dependencies
              id: npm_cache
              uses: actions/cache@v3
              with:
                  path: |
                      node_modules
                      ${{ env.CYPRESS_CACHE_FOLDER }}
                  key: node_modules-${{ hashFiles('package-lock.json') }}
                  restore-keys: node_modules-

            - name: Install dependencies
              if: steps.npm_cache.outputs.cache-hit != 'true'
              run: npm ci

            - name: Build Fondue
              run: npm run build

            - name: Release Fondue
              if: ${{ !contains(github.event.head_commit.message, format('chore(release-skip){0}', ':')) }}
              run: |
                  npx semantic-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Update package.json (Create PR)
              if: ${{ !contains(github.event.head_commit.message, format('chore(release-skip){0}', ':')) }}
              id: cpr
              uses: peter-evans/create-pull-request@v4
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  title: 'chore(release-skip): update package.json'
                  commit-message: 'chore(release-skip): update package.json'
                  branch: chore/auto_update_package_json_version
                  delete-branch: true
                  add-paths: |
                      package.json
                      package-lock.json
