name: Continuous Deployment

on:
    push:
        branches:
            - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
    NUMBER_OF_RUNNERS: 8

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest
        timeout-minutes: 10

        steps:
            - name: Checkout default branch
              uses: actions/checkout@v4

            - name: Use pnpm
              uses: pnpm/action-setup@v2
              with:
                  version: latest

            - name: Use Node.js
              uses: actions/setup-node@v4
              with:
                  node-version-file: ".nvmrc"
                  cache: "pnpm"

            - name: Install npm dependencies
              run: pnpm i --frozen-lockfile

            - name: Generate (old) icons
              run: pnpm --stream --filter {packages/fondue} generate:icons && pnpm --stream --filter {packages/fondue} generate:componentsEnum

            - name: Generate React icons
              run: pnpm --stream --filter {packages/icons} build:generate-react-icons

            - name: Contentlayer build
              run: pnpm --stream --filter {docs} build:contentlayer

            - name: Lint code
              run: pnpm lint

    typecheck:
        name: Typecheck
        runs-on: ubuntu-latest
        timeout-minutes: 10

        steps:
            - name: Checkout default branch
              uses: actions/checkout@v4

            - name: Use pnpm
              uses: pnpm/action-setup@v2
              with:
                  version: latest

            - name: Use Node.js
              uses: actions/setup-node@v4
              with:
                  node-version-file: ".nvmrc"
                  cache: "pnpm"

            - name: Install npm dependencies
              run: pnpm i --frozen-lockfile

            - name: Generate (old) icons
              run: pnpm --stream --filter {packages/fondue} generate:icons && pnpm --stream --filter {packages/fondue} generate:componentsEnum

            - name: Generate React icons
              run: pnpm --stream --filter {packages/icons} build:generate-react-icons

            - name: Contentlayer build
              run: pnpm --stream --filter {docs} build:contentlayer

            - name: Typecheck code
              run: pnpm typecheck

    old-component-tests:
        name: Old Component Tests
        runs-on: ubuntu-latest
        timeout-minutes: 10

        strategy:
            fail-fast: false
            matrix:
                containers: [0, 1, 2, 3, 4, 5, 6, 7]

        steps:
            - name: Checkout current commit
              uses: actions/checkout@v3

            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                  node-version-file: ".nvmrc"

            - name: Use pnpm
              uses: pnpm/action-setup@v2.2.4
              with:
                  version: latest
                  run_install: false

            - name: Get pnpm store directory
              id: pnpm-cache
              run: echo "pnpm_cache_dir=$(pnpm store path)" >> $GITHUB_OUTPUT

            - name: Setup pnpm cache
              uses: actions/cache@v3
              id: npm_cache
              with:
                  path: |
                      ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
                      ~/.cache/Cypress
                  key: pnpm-with-cypress-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}
                  restore-keys: pnpm-with-cypress-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Generate icons
              run: pnpm --stream --filter {packages/fondue} generate:icons && pnpm --stream --filter {packages/fondue} generate:componentsEnum

            - name: Component Tests
              run: pnpm run --stream --filter {packages/fondue} test --spec $(node ./.github/lib/cypress-matrix.mjs ${{ env.NUMBER_OF_RUNNERS }} ${{ matrix.containers }})

    component-tests:
        name: Component Tests
        runs-on: ubuntu-latest
        timeout-minutes: 10

        steps:
            - name: Checkout current commit
              uses: actions/checkout@v4

            - name: Use pnpm
              uses: pnpm/action-setup@v2
              with:
                  version: latest
                  run_install: false

            - name: Use Node.js
              uses: actions/setup-node@v4
              with:
                  node-version-file: ".nvmrc"
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Test code
              run: pnpm --stream --filter {packages/components} test

            - name: Install Playwright Browsers
              run: pnpm --stream --filter {packages/components} install:playwright

            - name: Playwright Tests
              run: pnpm --stream --filter {packages/components} test:playwright:ci

            - name: Percy Tests
              run: pnpm --stream --filter {packages/components} test:percy
              env:
                  PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}

    publish:
        name: Publish
        runs-on: ubuntu-latest
        timeout-minutes: 10

        needs: [lint, typecheck, old-component-tests, component-tests]

        permissions:
            contents: write # to create release (changesets/action)
            pull-requests: write # to create pull request (changesets/action)

        steps:
            - name: Checkout default branch
              uses: actions/checkout@v4

            - name: Use pnpm
              uses: pnpm/action-setup@v2
              with:
                  version: latest

            - name: Use Node.js
              uses: actions/setup-node@v4
              with:
                  node-version-file: ".nvmrc"
                  cache: "pnpm"

            - name: Install npm dependencies
              run: pnpm i --frozen-lockfile

            - name: Create release PR or publish to npm
              id: changesets
              uses: changesets/action@v1
              with:
                  commit: "chore: release packages"
                  title: "chore: release packages"
                  version: pnpm ci:version
                  publish: pnpm ci:publish
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
